{% extends "book_page.html" %}

{% block content %}
<h2>
Welcome to Algebra 2!
</h2>

<p class="subhead">
The material in this course is a selection of that traditionally
(since when?) headlined under this name as a major step in
the "calculus pathway", mathematical curriculum.  In it,
you will learn and practice skills relating to working
with relationships involving (mostly) two variables&#8212;or, at least,
problems which can be represented in two important ways: (1) using algebraic
symbols and their rules for manipulation and (2) on the \((x, y)\)-plane.
These are also the two major modes of expression used
to represent problems in calculus.
</p>

<p>
As you may have already supposed, the
methods developed in calculus are powerful enough to have contributed
to the scientific and technological development of our society as a whole: such
is the reputation of calculus!  Of course, the full story is much more
complicated than that, so please don't mistake me as claiming that
"it's all because of math."  Still, the skills that you learn in this course&#8212;and, really,
the most important part is just the practice you will have with the systems as a whole
rather than in learning each and every algorithm for solving
the particular problems&#8212;will make you more capable of engagement
with this body of knowledge and its application (as well as, as many claim,
many other systems of symbolic expression of ideas).  Of course, the more work you put
into the course, the more you will get out of it&#8212;but, you already knew that.  Instead,
I want to tell you something you might not have otherwise realized: that I regard
your understanding of the fundamentals of how these logical systems work
as a whole as more important than the proliferation of details that
are also, as per tradition, part of the "calculus pathway".  As such, in addition
to the perspectives (1) and (2) listed above, I want you to think of a (3)rd
that is every bit as important: what does it all mean?  That is, as you learn the algorithms
for interacting with (1) the symbols and (2) graphs of relationships, you
will do well to also contemplate (3)&#8212;what could (1) and (2) possibly mean
from a real-world perspective or in terms of intuitive, mental representations.
That, in my experience, is the difference between essentially giving up on math
and accepting the mistaken belief that, while there are some mathematical
"haves" in this society, you cannot presume to be one of them.  Instead,
(I hope you feel my warm invitation) the game of mathematics is the inheritance of
every single person!
</p>



{% endblock %}
