{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  In this chapter, we study functions.  What are functions?
  The concept of function&mdash;you could say&mdash;is an abstract one
  in that it isn't just about numbers any more or even sets of
  numbers but about relationships between sets of numbers.  But, in another
  sense, the concept of function the most concrete&mdash;the most
  real world of the concepts that we can discuss. But you'll have to go
  to read in the sections of this chapter to see whether this is so!
</p>

<p>
  Just to give you a little more heads-up about what to expect in this chapter,
  we will be studying functions as represented in, really, really three
  different ways: from a real-world or intuitive perspective; using formulas
  and different algebraic notation; and, finally, in graphical form.  (We also
  use tables of numbers to help express functions, but I'm not going to
  say that this is a fundamentally different way of representing functions.)
</p>

<p>
  Time to jump in!  Proceed to the sections to find out more about this
  bedrock concept of mathematics (and science and computer programming...)
</p>


{% endblock %}
