{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  In this section, we continue to solve linear inequalities.
  But, now, we graph our solution set on the real line.  There
  will be less to say in this section, compared to previous.  Our
  task will include the minor one of pointing of some graphical
  notation and also to practice.
</p>



<p>
<div class="example">
  <h2></h2>
  <p>
  <a href="https://www.loom.com/share/ee313741ccd74bf7ac0fddcfde9fd5fe" target="_blank">Click for video.</a>
  </p>
  Back to the same problem we started with in the section on
  <a href="{{ url_for('section', section_name='linearinequalities') }}">
    the section on solving (linear) inequalities for \(x\)
  </a>.
  <blockquote>
    For each of the following parts, consider this inequality.
    \[
      3x - 7 \lt 8
    \]
  </blockquote>

  <ol class="multi-part" style="list-style-type: lower-alpha;">
    <li>
      Solve the inequality.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          As completed in
          <a href="{{ url_for('section', section_name='linearinequalities') }}">
            solving linear inequalities
          </a>,
          we can solve as follows:
          \begin{align*}
          & 3x-7 \lt 8 & \textrm{Given}\\
          \Rightarrow \quad & 3x \lt 15 & \textrm{I added 7 to both sides.}\\
          \Rightarrow \quad & x \lt 5 & \textrm{I divided both sides by 3.}\\
          \end{align*}
        </div>
      </div>
    </li>
    <li>
      Graph this solution on the real line.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          Now for the new part!  The first thing to observe is
          that you are shading (in this case in <span color="blue">blue</span>)
          to indicate what \(x\)-values are part of the solution set.
          But since all values up to but not including \(x=5\) are
          part of the solution set, we need a marker at that point&mdash;but
          a special marker to communicate to your reader that that
          point is not actually part of the solution set.
          An "empty circle" is that symbol.  In the next example,
          you will see that a "filled circle" when this boundary point
          is actually part of the solution set (which, I hope you will
          realize, happens when an "or equal" inequality is employed.)

          {% set svg = 'svg1' %}
          {% set points = [{'x': 5, 'type': 'empty'}] %}
          {% set intervals = [[-20,5]] %}
          {% include "_static-real-line.html" %}
        </div>
    </li>
  </ol>
</div>
</p>

<div class="example">
  <h2></h2>
  <p>
  <a href="https://www.loom.com/share/50c09d14825b45a395a93cc01a15b6bc" target="_blank">Click for video.</a>
  </p>
  <p>
    Solve the inequality.  Graph the solution.
    \[
      - 12 x - 6 \leq - 8 x
    \]
  </p>

  <div class="answer">
    <a class="collapsible"><h3>Answer: </h3></a>
    <div class='inner'>
      \begin{align*}
      & - 12 x - 6 \leq - 8 x & \textrm{Given}\\
      \Rightarrow \quad & - 4 x - 6 \leq 0 & \textrm{I added \(8x\) to both sides.}\\
      \Rightarrow \quad & -4x \leq 6 & \textrm{I added 6 to both sides.}\\
      \Rightarrow \quad & 4x \geq -6 & \textrm{I negated both sides. (Reverse the inequality!}\\
      \Rightarrow \quad & x \geq \frac{-6}{4} & \textrm{I divided by 4.}\\
      \Rightarrow \quad & x \geq -\frac{3}{2} & \textrm{I simplified.}\\
      \end{align*}

      <p>
        Now, we graph it.  This time, I will use a "filled" point since
        \(-\frac{3}{2}\) is part of the solution set (since \(x\)
        is allowed to equal it as per the "or equal to" part of the
        greater-than-or-equal-to sign).  Also, because the solution set
        includes points <em>greater than</em> the boundary value of
        \(-\frac{3}{2}\), I will shade to the right:

        {% set svg = 'svg2' %}
        {% set points = [{'x': -3/2, 'type': 'filled'}] %}
        {% set intervals = [[-3/2,20]] %}
        {% include "_static-real-line.html" %}
      </p>
    </div>
  </div>
</div>


<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
