{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  This is a continuation of the work begun in the section of
  <a href="{{ url_for('section', section_name='graphofabsolutevaluebasic') }}">
      graphs of absolute value functions (basic transformations).
  </a>
  The difference in this section is that we will be adding in
  one more type of transformation&mdash;as well as combining them
  with the other three seen in the previous section.
  In particular, while we already considered transformations of
  \(y = |x|\) involving horizontal shifts, vertical shifts,
  and reflections across the \(x\)-axis, we will now
  consider "scaling" of the \(y\)-values.  This won't necessarily
  be harder than what we did in the previous section&mdash;it's just
  that it can be confusing to consider everything at once when
  you are starting out with the concept of transformations, so
  I have saved part of the story until now.  (Actually, I will also
  be saving yet more until a later time, too.)
</p>



<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    Graph the function
    \[
      y = 2|x|
    \]
  </p>
    Plot both the graph of \(y=|x|\) and \(y=2|x|\) on the same set of axes.
    Use different colors for each.
    Plot points if you have to, but think about the pattern that emerges
    and why it makes sense.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          The first thing to realize is what the meaning of this expression
          even is.  You see, you have a '2' written write next to \(|x|\).
          (To use a fancy English-class word, you could say that
          the '2' and the \(|x|\) are "juxtaposed", meaning
          they are written right next to each other with nothing in between.)
          What does that mean?  Well, in algebra, it is important to realize
          that when there is a "missing" symbol like this, the operation
          that is being communicated is multiplication.  For instance,
          you can just write \(4x\) and what you mean is "4 times \(x\)".
          You could have also included a dot for the multiplication sign,
          as in \(4 \cdot x\), but that's optional, because your reader
          is expected to know what it means either way (provided
          it is explained to them at some point!)  Similarly,
          I could have written \(2\cdot |x|\) above, but
          the expression \(2|x|\) has the same meaning.

          <p>
            Now that that's out of the way, think about what happens
            when you plug in some different values of \(x\).
            If you plug in 0, you get
            \[
              y = 2|0| = 2 \cdot 0 = 0
            \]
            If you plug in, say, 3, you get
            \[
              y = 2|3| = 2 \cdot 3 = 6
            \]
            You probably get the idea!  So, all that we're doing
            is taking the \(y\)-value that comes out of the expression
            \(|x|\) and doubling it.  Easy enough!  Now, the thing
            to contemplate is what that means for the graph
            of this new, transformed function.  Since \(y = 0\)
            when \(x = 0\) but then is positive for any other
            value of \(x\), the vertex (the lowest point)
            of the graph will still be at \((0,0)\)&mdash;the same
            as with \(y = |x|\).  But, then, for each unit you
            travel away from there in the \(x\)-direction, the
            \(y\)-value will grow at double the rate of that distance&mdash;which
            makes it "rise" at double the rate of the graph of \(y = |x|\).
            That means it will look a lot like \(y = |x|\),
            but will just rise more steeply:
          </p>
          <div style="text-align:center">
            {% set svg_id = 'svg1' %}
            {% set points = [] %}
            {% set poly_points = '0.0,0 175.0,175.000000000000 350.0,0 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = "black" %}
            {% include "_static_graph.html" %}
            {% set points = [] %}
            {% set poly_points = '0.0,-175.000000000000 175.0,175.000000000000 350.0,-175.000000000000 ' %}
            <script>
              graph_info = {"shape": "polyline", "data": {"points" : "{{ poly_points|safe }}"}  }
              draw_graph(svg, graph_info, "blue");
              points = {{ points|safe }}
              graph_points(points);
            </script>
          </div>
          <p>
            Note that I used <span style="color:black; opacity:0.5">gray</span>
            for the graph of \(x = |x|\) (for comparison purposes)
            and <span style="color:blue; opacity:0.5">blue</span> for the final
            answer, that is, the graph of \(y = 2|x|\).
            Because of the visual effect created, this transformation
            thus exhibited is often said to be "vertically stretching by
            a factor of 2".  In the next example, we will see "vertical shrinking".
            A word that can encompass both "stretching" and "shrinking"
            is "scaling".
          </p>

          <p>
            The concept of "slope" should come to mind here!  It is kind of like
            the slope of \(y = 2|x|\) is \(2,\) whereas the slope of
            \(y = |x|\) is \(1\).  The only problem with that is that neither of those
            graphs should be said to have just one slope in the strictest sense.
            After all, "slope" should be understood as the proportional change in \(y\) as
            \(x\) runs to the right.  So, in that strict sense, \(y = |x|\)
            has a negative slope for \(x \lt 0\) and a positive slope for
            \(x \gt 0\).  So, it doesn't have a single slope,
            but two different slopes on the different parts of the graph.
            But, otherwise, thinking in terms of "slope"
            is pretty helpful!
          </p>

          <p>
            As a final recap, it can be said that for the function
            \(
              y = 2|x|
            \)
            the \(y\)'s start at 0 for \(x = 0\) and then \(y\) increases
            in a 2 to 1 ratio no matter what direction you go (positive
            is the same as negative) from there.  That's just a restatement
            of the formula in English, but, in my opinion, also serves
            to express exactly what the graph looks like.
          </p>
        </div>
      </div>
</div>
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    Graph the function
    \[
      y = \frac{1}{2}|x|
    \]
  </p>
    Plot both the graph of \(y=|x|\) and \(y=\frac{1}{2}|x|\) on the same set of axes.
    Use different colors for each.
    Plot points if you have to, but think about the pattern that emerges
    and why it makes sense.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          <p>
            Let's think about what happens
            when you plug some different values of \(x\).
            If you plug in 0, you get
            \[
              y = \frac{1}{2}|0| = \frac{1}{2} \cdot 0 = 0
            \]
            If you plug in, say, 3, you get
            \[
              y = \frac{1}{2}|3| = \frac{1}{2} \cdot 3 = 6
            \]
            You probably get the idea!  So, all that we're doing
            is taking the \(y\)-value that comes out of the expression
            \(|x|\) and halving it.  Easy enough!  Now, the thing
            to contemplate is what that means for the graph
            of this new, transformed function.  Since \(y = 0\)
            when \(x = 0\) but then is positive for any other
            value of \(x\), the vertex (the lowest point)
            of the graph will still be at \((0,0)\)&mdash;the same
            as with \(y = |x|\).  But, then, for each unit you
            travel away from there in the \(x\)-direction, the
            \(y\)-value will grow at <em>half</em>
            the rate of that distance&mdash;which
            makes the graph "rise" at half the rate of the graph of \(y = |x|\).
            That means it will look a lot like \(y = |x|\),
            but will just rise less steeply:
          </p>
          <div style="text-align:center">
            {% set svg_id = 'svg2' %}
            {% set points = [] %}
            {% set poly_points = '0.0,0 175.0,175.000000000000 350.0,0 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = "black" %}
            {% include "_static_graph.html" %}
            {% set points = [] %}
            {% set poly_points = '0.0,87.5000000000000 175.0,175.000000000000 350.0,87.5000000000000 ' %}
            <script>
              graph_info = {"shape": "polyline", "data": {"points" : "{{ poly_points|safe }}"}  }
              draw_graph(svg, graph_info, "blue");
              points = {{ points|safe }}
              graph_points(points);
            </script>
          </div>
          <p>
            Note that I used <span style="color:black; opacity:0.5">gray</span>
            for the graph of \(y = |x|\) (for comparison purposes)
            and <span style="color:blue; opacity:0.5">blue</span> for the final
            answer, that is, the graph of \(y = \frac{1}{2}|x|\).
            The transformation exhibited here is often described as
            "vertically shrinking by half".
          </p>

          <p>
            As a final recap, it can be said that for the function
            \[
              y = \frac{1}{2}|x|
            \]
            the \(y\)'s start at 0 for \(x = 0\) and then \(y\) increases
            in a 1 to 2 ratio (\(x\) to \(y\)) no matter what direction you go
            (positive
            is the same as negative) from there.
            That is, for every 2 \(x\) you run (left or right)
            from \(x = 0\), the \(y\)'s will rise by 1.
            That's just a restatement
            of the formula in English, but, in my opinion, it also serves
            to express exactly what the graph looks like.
          </p>
        </div>
      </div>
</div>
</p>







<p>
<div class="example"  id="shifthoriz">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  Graph each of the following without "just plotting points".
  Instead, start with the "basic" graph of \(y=|x|\) and
  explain how the graph of the given function will relate
  to it via a transformation.  Describe that transformation in words.
  <ol>
    <li>
      \(y = 3|x|\)
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          This time, the \(y\)-values that come out of this function
          are just triple those that come out of \(y = |x|\).
          So, its graph will be like that of \(y = |x|\)
          except it will "rise" at triple the rate.
          <div style="text-align:center">
            {% set svg_id = 'svg3' %}
            {% set points = [[0,0], [1, 3], [-1, 3]] %}
            {% set poly_points = '0.0,-350.000000000000 175.0,175.000000000000 350.0,-350.000000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = "blue" %}
            {% include "_static_graph.html" %}
          </div>
        </div>
      </div>
    </li>
    <li>
      \(y = \frac{1}{3}|x|\)
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          This time, the \(y\)-values that come out of this function
          are just one third of those that come out of \(y = |x|\).
          So, its graph will be like that of \(y = |x|\)
          except it will "rise" at one third of the rate.
          <div style="text-align:center">
            {% set svg_id = 'svg4' %}
            {% set points = [[0,0], [3,1], [-3,1]] %}
            {% set poly_points = '0.0,116.666666666667 175.0,175.000000000000 350.0,116.666666666667 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% include "_static_graph.html" %}
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  The above examples are meant to illustrate that one type of transformation
  that is new to this section (vertical scaling), but they are simpler than what you are
  likely to see in the exercises.  Instead, you will see this
  transformation in combination with those that we encountered in
  <a href="{{ url_for('section', section_name='graphofabsolutevaluebasic') }}">
      graphs of absolute value functions (basic transformations),
  </a>
  as in the following examples.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  Graph the function
    \[
      y = - \frac{3}{5}  \left|{x - 4}\right| + 5
    \]
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          You can either try to analyze separately what each part of
          what you are seeing in this formula means in terms of its graph&mdash;to
          note each transformation separately and then also to execute them
          in the proper order&mdash;or one can try to narrate
          what the function does in a natural way.  Or you can try to both,
          and one will reinforce the other!  (Of course, that's what I recommend.)

          <p>
            If you note the transformations one at a time working in an
            "inside to out" fashion, you will be doing pretty good.  This would
            go as follows:
            <table style="padding:10px;">
              <tr>
                <td style="width:50%">\(y = |x - 4|\)</td><td>Shift right 4 units</td>
              </tr>
              <tr>
                <td>\(y = -\frac{3}{5}|x-4|\)</td><td>\(y\)'s will fall by 3 for every 5 you travel away from \(x = 4\)</td>
              </tr>
              <tr>
                <td>\(y = -\frac{3}{5}|x - 4| + 5\)</td><td>Shift up 5</td>
              </tr>
            </table>
            Because of the shift right 4 and up 5, I know the vertex will be
            at \((4, 5)\) (right 4 and up 5 from the origin).  And
            because of the coefficient of \(- \frac{3}{5}\), I know that
            the rate of change of \(y\) will be "down 3 \(y\)'s for every
            5 over in \(x\)".  Because of the absolute value, that means
            that sort of change will happen in the same way whether we go
            to the left of 4 or to the right of it.  So, the graph looks like so:
          </p>
          <div style="text-align:center">
            {% set svg_id = 'svg5' %}
            {% set points = [[4, 5], [-1, 2], [9, 2]] %}
            {% set poly_points = '0.0,234.500000000000 245.0,87.5000000000000 350.0,150.500000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = 'blue' %}
            {% include "_static_graph.html" %}
            {% set points = [] %}
          </div>

          <p>
            Maybe all of that made sense, but let's try another way of narrating what
            is going on.  This other way of narrating really involves
            rewriting the formula slightly, like so:
            \[
              y = 5 - \frac{3}{5}|x - 4|
            \]
            So, here is what I can say: The \(y\)'s start at 5, and then
            proceed downwards from there&mdash;which takes me this far
            into the formula:
            \[
              y = 5 - \phantom{x}
            \]
            For what follows next&mdash;the part that involves \(x\)&mdash;I
            see that \(y\) will change depending on what \(x\) is.  I see
            that \(y\) will go down by 3 for every 5 that \(x\) gets away
            from \(x = 4.\)  That means that, whether you go left or
            right of \(x = 4\), the \(y\)'s will change in a "down 3,
            over 5" sort of fashion.  Note that \(|x-4|\) gives me
            "the absolute value of the difference between number \(x\)
            and 4", which is literally the distance (which can't be negative)
            of whatever \(x\) anyone wants to consider to 4.  And the \(-\frac{3}{5}\)
            is functioning kind of like slope, albeit in a new or generalized
            sense of the word, as opposed to how it is strictly defined
            in the context of a single line.
          </p>
        </div>
      </div>
</div>
</p>



<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  Graph the function
    \[
      y = - \frac{5}{2}  \left|{x + 4}\right| - 4
    \]
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          You can either try to analyze separately what each part of
          what you are seeing in this formula means in terms of its graph&mdash;to
          note each transformation separately and then also to execute them
          in the proper order&mdash;or one can try to narrate
          what the function does in a natural way.  Or you can try to both,
          and one will reinforce the other!  (Of course, that's what I recommend.)

          <p>
            If you note the transformations one at a time working in an
            "inside to out" fashion, you will be doing pretty good.  This would
            go as follows:
            <table style="padding:10px;">
              <tr>
                <td style="width:50%">\(y = |x + 4|\)</td><td>Shift left 4 units</td>
              </tr>
              <tr>
                <td>\(y = -\frac{5}{2}|x+4|\)</td><td>\(y\)'s will fall by 5 for every 2 you travel away from \(x = 4\)</td>
              </tr>
              <tr>
                <td>\(y = -\frac{5}{2}|x + 4| - 4\)</td><td>Shift down 4</td>
              </tr>
            </table>
            Because of the shift left 4 and down 4, I know the vertex will be
            at \((-4, -4)\) (left 4 and down 4 from the origin).  And
            because of the coefficient of \(- \frac{5}{2}\), I know that
            the rate of change of \(y\) will be "down 5 \(y\)'s for every
            2 over in \(x\)".  Because of the absolute value, that means
            that sort of change will happen in the same way whether we go
            to the left of 4 or to the right of it.  So, the graph looks like so:
          </p>
          <div style="text-align:center">
            {% set svg_id = 'svg6' %}
            {% set points = [[-4, -4], [-6, -9], [-2, -9]] %}
            {% set poly_points = '0.0,507.500000000000 105.0,245.000000000000 350.0,857.500000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = 'blue' %}
            {% include "_static_graph.html" %}
            {% set points = [] %}
          </div>

          <p>
            Maybe all of that made sense, but let's try another way of narrating what
            is going on.  This other way of narrating really involves
            rewriting the formula slightly, like so:
            \[
              y = -4 - \frac{5}{2}  \left|{x - (-4)}\right|
            \]
            So, here is what I can say: The \(y\)'s start at -4, and then
            proceed downwards from there&mdash;which takes me this far
            into the formula:
            \[
              y = -4 - \phantom{x}
            \]
            For what follows next&mdash;the part that involves \(x\)&mdash;I
            see that \(y\) will change depending on what \(x\) is.  I see
            that \(y\) will go down by 5 for every 2 that \(x\) gets away
            from \(x = -4.\)  That means that, whether you go left or
            right of \(x = -4\), the \(y\)'s will change in a "down 5,
            over 2" sort of fashion.  Note that \(|x+4| = |x - (-4)|\) gives me
            "the absolute value of the difference between number \(x\)
            and \(-4\)", which is literally the distance (which can't be negative)
            of whatever \(x\) anyone wants to consider to \(-4\).  And the \(-\frac{5}{2}\)
            is functioning kind of like slope, albeit in a new or generalized
            sense of the word, as opposed to how it is strictly defined
            in the context of a single line.
          </p>
        </div>
      </div>
</div>
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  Graph the function
    \[
      y = \frac{1}{5}  \left|{x}\right| - 3
    \]
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          You can either try to analyze separately what each part of
          what you are seeing in this formula means in terms of its graph&mdash;to
          note each transformation separately and then also to execute them
          in the proper order&mdash;or one can try to narrate
          what the function does in a natural way.  Or you can try to both,
          and one will reinforce the other!  (Of course, that's what I recommend.)

          <p>
            If you note the transformations one at a time working in an
            "inside to out" fashion, you will be doing pretty good.  This would
            go as follows:
            <table style="padding:10px;">
              <tr>
                <td style="width:50%">\(y = |x|\)</td><td>No horizontal shift!</td>
              </tr>
              <tr>
                <td>\(y = \frac{1}{5}|x|\)</td><td>\(y\)'s will rise by 1 for every 5 you travel away from \(x = 0\)</td>
              </tr>
              <tr>
                <td>\(y = \frac{1}{5}|x| - 3\)</td><td>Shift down 3</td>
              </tr>
            </table>
            Because of the shift down 3, I know the vertex will be
            at \((0, -3)\) (down 3 from the origin).  And
            because of the coefficient of \(\frac{1}{5}\), I know that
            the rate of change of \(y\) will be "up 1 \(y\)'s for every
            5 over in \(x\)".  Because of the absolute value, that means
            that sort of change will happen in the same way whether we go
            to the left of 4 or to the right of it.  So, the graph looks like so:
          </p>
          <div style="text-align:center">
            {% set svg_id = 'svg7' %}
            {% set points = [[0, -3], [5, -2], [-5, -2]] %}
            {% set poly_points = '0.0,192.500000000000 175.0,227.500000000000 350.0,192.500000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% set color = 'blue' %}
            {% include "_static_graph.html" %}
            {% set points = [] %}
          </div>

          <p>
            Maybe all of that made sense, but let's try another way of narrating what
            is going on.  This other way of narrating really involves
            rewriting the formula slightly, like so:
            \[
              y = -3 + \frac{1}{5}  \left|{x}\right|
            \]
            So, here is what I can say: The \(y\)'s start at -3, and then
            proceed upwards from there&mdash;which takes me this far
            into the formula:
            \[
              y = -3 + \phantom{x}
            \]
            For what follows next&mdash;the part that involves \(x\)&mdash;I
            see that \(y\) will change depending on what \(x\) is.  I see
            that \(y\) will go up by 1 for every 5 that \(x\) gets away
            from \(x = 0.\)  That means that, whether you go left or
            right of \(x = 0\), the \(y\)'s will change in a "up 1,
            over 5" sort of fashion.  Note that \(|x|\) is
            the distance (which can't be negative)
            of whatever \(x\) anyone wants to consider from 0.  And the \(\frac{1}{5}\)
            is functioning kind of like slope, albeit in a new or generalized
            sense of the word, as opposed to how it is strictly defined
            in the context of a single line.
          </p>
        </div>
      </div>
</div>
</p>

<p>
  We've looked at examples where we graphed a given absolute value function.
  Now, we do the reverse: Can you develop an equation for a given
  (absolute value) graph?
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  Develop an equation for the given graph.
    <div style="text-align:center">
      {% set svg_id = 'svg8' %}
      {% set points = [] %}
      {% set poly_points = '0.0,223.125000000000 157.5,262.500000000000 350.0,214.375000000000 ' %}
      {% set parameters = {
          'svg_x_length': 350,
          'svg_y_length': 350,
          'cart_x_min': -10,
          'cart_x_max': 10,
          'cart_x_length': 20,
          'cart_y_min': -10,
          'cart_y_max': 10,
          'cart_y_length': 20
        }
      %}
      {% set color = 'blue' %}
      {% include "_static_graph.html" %}
    </div>
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          I note that the vertex is at \((-1, -5)\).
          I use that as a starting point for both a narrative of what happens
          in the graph as well as in developing the equation.
          In particular, I can start by saying "the \(y\)'s
          start at \(-5\) and then go up from there".
          So, it will work to start by writing:
          \[
            y = -5 + \phantom{x}
          \]
          Next, I see that for every 4 you trace away from
          \(x = -1\)&mdash;whether to the left or to the right&mdash;the
          \(y\)'s by 1.  So, that's like a "rise over run" of \(\frac{1}{4}\)&mdash;
          but, again, in such a way that I'll get \(y = -5\)
          when \(x = 1\).  So, I continue:
          \[
            y =  - 5 + \frac{1}{4}  \left|{x - (-1)}\right| = -5 + \frac{1}{4}  \left|{x + 1}\right|
          \]
          Of course, you could also write this as
          \[
            y = \frac{1}{4}  \left|{x + 1}\right| - 5
          \]

          (The answer checker will take anything mathematically equivalent to
          the right answer!&mdash;meaning, it doesn't have to be in one format or another.)
        </div>
      </div>
</div>
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  Develop an equation for the given graph.
    <div style="text-align:center">
      {% set svg_id = 'svg9' %}
      {% set points = [] %}
      {% set poly_points = '0.0,726.250000000000 227.5,157.500000000000 350.0,463.750000000000 ' %}
      {% set parameters = {
          'svg_x_length': 350,
          'svg_y_length': 350,
          'cart_x_min': -10,
          'cart_x_max': 10,
          'cart_x_length': 20,
          'cart_y_min': -10,
          'cart_y_max': 10,
          'cart_y_length': 20
        }
      %}
      {% set color = 'blue' %}
      {% include "_static_graph.html" %}
    </div>
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          I note that the vertex is at \((3, 1)\).
          I use that as a starting point for both a narrative of what happens
          in the graph as well as in developing the equation.
          In particular, I can start by saying "the \(y\)'s
          start at \(1\) and then go down from there".
          So, it will work to start by writing:
          \[
            y =  1 - \phantom{x}
          \]
          Next, I see that for every 2 you trace away from
          \(x = 3\)&mdash;whether to the left or to the right&mdash;the
          \(y\)'s go down by 5.  So, that's like a "rise over run" of \(-\frac{5}{2}\)&mdash;
          but, again, in such a way that I'll get \(y = 1\)
          when \(x = 3\).  So, I continue:
          \[
            y =  1 - \frac{5}{2}  \left|{x - 3}\right|
          \]
          Of course, you could also write this as
          \[
            y = - \frac{5}{2}  \left|{x - 3}\right| + 1
          \]

          (The answer checker will take anything mathematically equivalent to
          the right answer!&mdash;meaning, it doesn't have to be in one format or another.)
        </div>
      </div>
</div>
</p>

<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
