{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  In this section, we learn a handy way of <em>symbolizing</em> the
  set of all solutions to a linear inequality or to a compound
  inequality&mdash;as well as many other types of equations or systems.
  While a graph is certainly a way to represent these solution sets&mdash;and
  inequality notation (together with logical connectors "and" and "or")
  is yet another way&mdash;we learn this third way, called <em>interval notation</em>
  in this one.  Why do we need a third way of representing these sets?
  It is for two reasons: For one, interval notation is compact; it takes
  little effort to write it in comparison with a graph. It will also be without
  the potential ambiguity or imprecision of a drawing.  But what
  advantage does it have over inequality notation?  Inequality notation
  consists in statements about \(x\).  As such, it represents complete
  sentences or at least grammatical fragments of one depending on one's intention.
  As we have noted, sometimes the "secret narrative" is not expressed in
  math textbooks, leaving inequality possibly unclear to the reader.  Interval notation,
  on the other hand, is much simpler.  Its meaning is completely clear cut: What we will
  be devising in this section is symbols for <em>nouns</em>&mdash;for the objects
  themselves&mdash;the solution sets, which, really, will involve quite a bit less
  grammar and not potential for ambiguity.
</p>

<h3>What is an Interval?</h3>
<p>
  An interval basically consists in (1) a left endpoint, (2) a right endpoint,
   and (3) ``everything in between''---that is, all <em>intervening</em> values.
   However, since \(-\infty\) and \(\infty\) are allowed as endpoints of an
   interval (which is a funny way of saying the interval is missing an endpoint),
   it can be more straightforward to say that an interval is a subset of the
   real line that has no breaks in it.
   But my first description with the (1), (2), (3) will help you understand a
   special notation for intervals (called interval notation).

  We'll take a look at interval notation, but, first, I have just referred
  to invervals as subsets of the real line.  Now what does that mean?
  What are "sets" or "subsets" in math?

  Interval notation works like this: you write the endpoints
  (possibly \(-\infty\) or \(\infty\)) in order, left to right,
  separated by a comma.  Then you surround that pair of numbers with some
  combination of parentheses or (square) brackets.  Which you use depends on
  whether or not the endpoint is included in the interval or not
  (it may or may not be).  Use a parenthesis next to  an endpoint that is not
  included and a brace next to an endpoint that <em>is</em> included.
  By convention, <em>-\infty</em> and <em>\infty</em> are never "included"
  (because "you never get there."")
</p>

<p>
  Here are some examples followed by some exercises:

  <table>
    <tr><th>Inequality Notation</th><th>Real-line Graph</th><th>Interval Notation</th></tr>
    <tr>
      <td>\(-4 \leq x \leq 7 \)</td>
      <td style="min-width:400px">
        {% set svg = 'smallsvg1' %}
        {% set points = [{'x': -4, 'type': 'filled'},
                          {'x': 7, 'type': 'filled'}] %}
        {% set intervals = [[-4,7]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \([-4,7]\)
      </td>
    </tr>
    <tr>
      <td>\(-4 \leq x \lt 7 \)</td>
      <td>
        {% set svg = 'smallsvg2' %}
        {% set points = [{'x': -4, 'type': 'filled'},
                          {'x': 7, 'type': 'empty'}] %}
        {% set intervals = [[-4,7]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \([-4,7)\)
      </td>
    </tr>
    <tr>
      <td>\(-4 \lt x \leq 7 \)</td>
      <td>
        {% set svg = 'smallsvg3' %}
        {% set points = [{'x': -4, 'type': 'empty'},
                          {'x': 7, 'type': 'filled'}] %}
        {% set intervals = [[-4,7]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \((-4,7]\)
      </td>
    </tr>
    <tr>
      <td>\(-4 \lt x \lt 7 \)</td>
      <td>
        {% set svg = 'smallsvg4' %}
        {% set points = [{'x': -4, 'type': 'empty'},
                          {'x': 7, 'type': 'empty'}] %}
        {% set intervals = [[-4,7]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \((-4,7)\)
      </td>
    </tr>
    <tr>
      <td>\( x \geq -4 \)</td>
      <td>
        {% set svg = 'smallsvg5' %}
        {% set points = [{'x': -4, 'type': 'filled'}] %}
        {% set intervals = [[-4,20]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \([-4,\infty)\)
      </td>
    </tr>
    <tr>
      <td>\( x \lt 7 \)</td>
      <td>
        {% set svg = 'smallsvg6' %}
        {% set points = [{'x': 7, 'type': 'empty'}] %}
        {% set intervals = [[-20,7]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \((-\infty, 7)\)
      </td>
    </tr>
    <tr>
      <td>\( x = x \)</td>
      <td>
        {% set svg = 'smallsvg7' %}
        {% set points = [] %}
        {% set intervals = [[-20,20]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \((-\infty, \infty)\)
      </td>
    </tr>
  </table>
</p>

<p>
  Now, as noted above, the following is <em>not</em> an interval:

  <blockquote>
  \[
  x \leq -4 \; \textrm{  or  } \; x \geq 7
  \]

  {% set svg = 'smallsvg8' %}
  {% set points = [{'x': -4, 'type': 'empty'},
                    {'x': 7, 'type': 'empty'}] %}
  {% set intervals = [[-20,-4], [7,20]] %}
  {% include "_static-real-line.html" %}
  </blockquote>

  But this and other sets like it will be the solution (set) of certain
  compound inequalities&mdash;"or inequalities" to be exact!

  Since they are not intervals, there is no interval notation for them, exactly.
  But there is a special symbol that we will use with the interval notation to
  symbolize the notion that "the solution is the two (disconnected) subsets
  combined.""  Basically, we will use a symbol that functions very much like
  "addition for sets."  The concept is called "union," and it is symbolized
  by the union symbol \(\cup\).

  For example, the set shaded just above is the union of two intervals, symbolized like so:
  \[
  (-\infty, -4] \cup [7,\infty)
  \]
</p>

<p>
  Here's another quick example of a union.
\[
\textrm{North Carolina} \cup \textrm{South Carolina} = \textrm{The Carolinas}
\]

<div style="text-align:center">
  <img src="{{ url_for('static', filename='images/the-carolinas.png') }}">
</div>
</p>

<p>
  For a final quick example, just check out
  <a href="https://en.wikipedia.org/wiki/Union_(set_theory)" target="_blank">this link</a>.
</p>

<p>
  In the exercises, you will be practicing toggling between the three presentations
  of intervals: inequality notation, real-line graphs, and interval notation&mdash;as
  given in the chart above.  But, you might appreciate seeing just a few more
  examples that involve a union of intervals.  Here they are!

  <table>
    <tr><th>Inequality Notation</th><th>Real-line Graph</th><th>Interval Notation</th></tr>
    <tr>
      <td>\( x \lt -2 \; \textrm{or} \; x \gt 3 \)</td>
      <td style="min-width:400px">
        {% set svg = 'smallsvg9' %}
        {% set points = [{'x': -2, 'type': 'empty'},
                          {'x': 3, 'type': 'empty'}] %}
        {% set intervals = [[-20,-2], [3,20]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \( (\infty, -2) \cup (3, \infty) \)
      </td>
    </tr>
    <tr>
      <td>\( x \leq -2 \; \textrm{or} \; x \gt 3 \)</td>
      <td>
        {% set svg = 'smallsvg10' %}
        {% set points = [{'x': -2, 'type': 'filled'},
                          {'x': 3, 'type': 'empty'}] %}
        {% set intervals = [[-20,-2], [3,20]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \( (\infty, -2] \cup (3, \infty) \)
      </td>
    </tr>
    <tr>
      <td>\( x \leq -2 \; \textrm{or} \; x \geq 3 \)</td>
      <td>
        {% set svg = 'smallsvg11' %}
        {% set points = [{'x': -2, 'type': 'filled'},
                          {'x': 3, 'type': 'filled'}] %}
        {% set intervals = [[-20,-2], [3,20]] %}
        {% include "_static-real-line.html" %}
      </td>
      <td>
        \( (\infty, -2] \cup [3, \infty) \)
      </td>
    </tr>
  </table>
</p>



<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
