{% extends "book_page.html" %}

{% block content %}
<p class="subhead">
Just what the title says!  In this chapter&mdash;some of which may be review
for you&mdash;we cover some of the basic building blocks of mathematical
expression.
</p>

<p>
  Topics covered here include:
  <ul>
    <li>Solving a linear equation for \(x\)</li>
    <li>Solving inequalities</li>
    <li>Various representations of solutions to inequalities</li>
    <li>Working with absolute value functions in similar contexts to the aforementioned</li>
  </ul>
</p>


{% endblock %}
