{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  This section continues our study of division of polynomials.
  But from here forward we concentrate
  on the most important class of division problems&mdash;which are also the
  simplest ones!  The class of problems I have in mind are when you just
  divide by something of the form \(x-z\),
  where \(z\) is some number&mdash;such as dividing by \(x-3\).
</p>
<p>
  In the section that follows, we will argue that, aside from factoring
  out a common numerical factor, factors of the form \(x-z\) are like
  the "primes" when it comes to dividing polynomials&mdash;that is,
  in addition to common numerical factors (think "GCF") like 2 or 3,
  they represent the most basic elements into which all polynomials can be
  factored.  This enables you to reduce any division problem
  (or factoring problem!) to dividing by simple factors of the
  form \(x-z\)&mdash;at least, theoretically.  Think for a moment about
  factoring regular, old numbers.
  For instance, if you were asked to factor \(108\), you could sit there
  and ponder whether it is divisible by \(18\) if you wanted (it is)
  but wouldn't it be simpler just to check if 108 is divisible
  by primes like 2 and 3?  Of course, you can easily note that
  108 is divisible by 2, factoring it as \(108  = 2\cdot 54\).
  The rest of the factorization is easy since \(54\) shows up in
  the times table.  So, slowly but surely, you find the following
  factorization of 108 by dividing by one prime at a time:
    \[
      108 = 2^2 3^3
    \]
  We are going to do "the same thing" with polynomials&mdash;we are going to
  factor them in to "primes"!  That is, we will argue that every
  polynomial function \(f\) can be written in the following form:
    \[
      f(x) = a(x-z_1)(x-z_2)\cdots (x-z_{n})
    \]
  where \(a\), \(z_1\), \(z_2\),&#8230;, \(z_n\) are some numbers (\(z_1\),
  \(z_2\),&#8230;, \(z_n\) are called the "zeroes" of the function)
  and \(n\) is the degree of the polynomial.
  (There is a little fine print here concerning polynomials of
  degree 0&mdash;an example of which is \(f(x) = 5\)&mdash;but they aren't
  very important).  For instance, in a few sections from now,
  we will be able to determine that the polynomial
    \[
      2x^4 - 14x^3 - 26x^2 + 206x - 168
    \]
    can be factored
      \[
        2(x-3)(x+4)(x-7)(x-1)
      \]
    This "factored" form, of course, is useful for figuring out the
    \(x\)-intercepts of the graph and, really, for solving any polynomial equation.
  </p>

  <p>
    In the exposition below, I will be using the following vocab:
    <div class="definition">
      <h2></h2>
      A number \(z\) is called a <b>zero</b> of the function \(f\) if
        \[
          f(z) = 0
        \]
      An important example is when
        \[
          f(x) = a(x-z_1)(x-z_2)\cdots(x-z_n)
        \]
      You can see that the numbers \(z_1\), \(z_2\),&#8230;, \(z_n\) are zeroes
      of \(f\).  For instance,
        \[
          f(z_1) = a(z_1-z_1)(z_1-z_2)\cdots(z_1-z_n) = a \cdot 0 \cdot (z_1-z_2) \cdots (z_1-z_n) = 0
        \]
      As a concrete example, \(3\), \(-4\), \(7\), and \(1\) are
      <b>zeroes</b> of the polynomial
        \[
          f(x) = 2(x-3)(x+4)(x-7)(x-1)
        \]
      Can you see why?  <b>Zeroes</b> are also often called <b>roots</b>.
    </div>

    Since we will be doing a lot of long division problems where we just divide
    by something of the form \(x-z\), in this section we will learn a stream-lined
    method for doing so.  It may be annoying to learn this method at first,
    but, like others before you, you will soon grow to like it, because
    it is so much faster.  In fact, it would be quite fun to see you all
    race on problems&mdash;with one person using the old method and one person
    using the new method, which is called \textbf{synthetic division}.
    As always, I will begin with a really detailed example, then do
    a quicker one, and then you'll try some on your own.  But, first,
    you'll appreciate getting your brain warmed-up by executing our
    first example using the old method of <b>long division</b>
  </p>

<p>
<div class="example">
  <h2> (Warm-up)</h2>
  <p>
  <a href="https://www.loom.com/share/88a1aa76c5044f238cfcd836ee80f648" target="_blank">Click for video.</a>
  </p>

  Use long division to determine quotient and remainder resulting from the
  following:
    \[
      \left(x^3 - 5 x^2  + 25\right) \div \left(x-3\right)
    \]
  Put your answer in the form
    \[
      q(x) + \frac{r}{d(x)}
    \]
  where \(q(x)\) is the quotient, \(d(x)\) is the divisor, and \(r\) is
  the remainder.



<div class="answer">
  <a class="collapsible"><h3>Answer: </h3></a>
  <div class='inner'>
    <table class="center long-division">
      <tr>
        <td></td>     <td></td>     <td></td>    <td></td>                               <td></td>                 <td>\(x^2\)</td>                    <td>\(-\)</td>      <td>\(2x\)</td>          <td>\(-\)</td><td>\(6\)</td><td>\(+\)</td><td>\(\frac{7}{x-3}\)</td>
      </tr>
      <tr>
        <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td class="bottom">\(-\left(x^3\right.\)</td><td class="bottom">\(-\)</td><td class="bottom">\(\left.3x^2\right)\)</td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td>\(-2x^2\)</td>                   <td>\(+\)</td>           <td>\(0x\)</td>          <td>\(+\)</td>                 <td>\(25\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td class="bottom">\(-\)</td>                       <td class="bottom">\(\left(-2x^2\right.\)</td>                   <td class="bottom">\(+\)</td>           <td class="bottom">\(\left.6x\right)\)</td>          <td></td>                 <td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                              <td style="text-align:right">\(-6x\)</td>                        <td>\(+\)</td>             <td>\(25\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td style="text-align:right">\(-\)</td>                              <td class="bottom" style="text-align:right">\(\left(-6x\right.\)</td>                        <td class="bottom">\(+\)</td>             <td class="bottom">\(\left.18\right)\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                                                                         <td></td>                                                                                              <td></td>                                                    <td>\(7\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                              <td></td>                        <td class="bottom">\(-\)</td>             <td class="bottom">\(7\)</td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                                                                         <td></td>                                                                                              <td></td>                                                    <td>\(0\)</td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
</div>

</div>
</p>



<p>
<div class="example">
  <h2></h2>
  <p>
  <a href="https://www.loom.com/share/15085c313fb8499b953b1c3e8398e8da" target="_blank">Click for video.</a>
  </p>

  <p>
    Use synthetic division to determine quotient and remainder resulting
    from the following:
      \[
        \left(x^3 - 5 x^2  + 25\right) \div \left(x-3\right)
      \]
    Put your answer in the form
      \[
        q(x) + \frac{r}{d(x)}
      \]
    where \(q(x)\) is the quotient, \(d(x)\) is the divisor, and \(r\)
    is the remainder.
  </p>

  <div class="answer">
    <a class="collapsible"><h3>Answer: </h3></a>
    <div class='inner'>
      <p>
        You'll need to build a mental bridge from the old
        method&mdash;<b>long division</b>&mdash;to the new method of
        <b>synthetic division</b>.  I'll place the old method on the
        right for comparision to help me explain the new method.
        Basically, <b>synthetic division</b>
        just involves writing down "the highlights" of the process of carrying
        out long division.  The idea is this: when doing regular
        long division of polynomials, you are already using the columns
        to mark what powers of \(x\) are involved&mdash;for instance,
        using the third column from the right for the terms involving \(x^2\),
        just like you use the third column for hundreds (Note: \(100 = 10^2\)).
        But, since the column tells you what power is inolved there,
        why do you need to write the \(x\)'s at all?
      </p>
      <p>
        So, <b>synthetic division</b> involves the discipline of lining up the
        coefficients of terms according to their powers.
        The initial set-up is to place the "zero" of the divisor in a box at
        left.  Since the divisor is \(x-3\), the zero is \(3\).
        Then, extending to the right, you write the coefficients of the
        dividend in separate columns in descending order of
        degree&mdash;being vigilant about writing in 0's for missing terms:
      </p>

      <div style="float:left; width:45%; padding:5%;">
        <table class="synthetic long-division">
          <tr>
            <td class="bottom right">\(3\)</td><td>\(1\)</td><td>\(-5\)</td><td>\(0\)</td><td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom"></td><td class="bottom"></td><td class="bottom"></td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
        </table>
      </div>
      <div style="float:left; width:45%; padding:5%">
        <table class="long-division">
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr>
            <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
          </tr>
        </table>
      </div>

      <p style="clear:left">
        What is going to happen is that we will place the coefficients of the
        quotient and remainder (i.e.: "the answer" to the problem)
        in the spaces below that horizontal line.
        We will write those coefficients in descending order of their powers.
        Since we are dividing \(x^3-5x^2+25\)
        by \(x-3\), and we know that is just the question of what (quotient)
        to multiply \(x-3\) by to get as close as you can to \(x^3-5x^2+25\),
        I hope you can see that the leading term of the quotient will be \(x^2\).
        So, you just place a \(\color{blue}{1}\) in that first slot.
        You'll have to mentally know that it represents
        \(\color{blue}{1x^2}\) and that the powers will descend from there.
      </p>

      <div style="float:left; width:45%; padding:5%;">
        <table class="synthetic long-division">
          <tr>
            <td class="bottom right">\(3\)</td><td>\(1\)</td><td>\(-5\)</td><td>\(0\)</td><td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom"></td><td class="bottom"></td><td class="bottom"></td>
          </tr>
          <tr>
            <td></td><td>\(\color{blue}{1}\)</td><td></td><td></td><td></td>
          </tr>
        </table>
      </div>
      <div style="float:left; width:45%; padding:5%">
        <table class="long-division">
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td>\(\color{blue}{1x^2}\)</td>
          </tr>
          <tr>
            <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
          </tr>
        </table>
      </div>

      <p style="clear:left">
        Next up, on the right, you multiply \(x-3\) by
        \(\color{blue}{1x^2}\) and "kill off" some of the dividend.
        But right here is where some streamlining comes in!
        Why do we even need to write down the fact that \(x^3\) gets
        killed off?  That was the whole point in multiplying by
        \(\color{blue}{1x^2}\) in the first place, so it is
        redundant to write it out.   Instead, at left, we write the only
        interesting thing that happens at this second step:
        \(\color{magenta} -3x^2\) gets <em>subtracted</em> from \(-5x^2\)&mdash;resulting
        in a new leading term of \(\color{green} -2x^2\), which
        means \(\color{green} -2x^2\) will have to get killed off next,
        which means \(\color{green}-2\) will be the next coefficient in our
        quotient.  I record all this activity at left by multiplying my
        \(\color{blue} 1\) by the <em>positive</em> \(3\) and <em>adding</em>
        that to \(-5\).  You see, subtracting a negative is positive,
        which means subtracting "\([\textrm{whatever}] \cdot (-3)\)"
        will be the same as <em>adding</em> "\([\textrm{whatever}] \cdot 3\)".
        So, the subtraction gets "built in" to the "synthetic"
        division process by changing that \(-3\) in the divisor \(x-3\) to \(3\)
        and just adding all the time.  So, in the next column over and just
        below the \(-5\), I write the product of "the number in the box"
        (the \(3\)) and the
        previous coefficient (the \(\color{blue} 1\)) of my quotient:
        \(3\cdot \color{blue} 1 = \color{magenta} 3\). Then I add \(-5\) and
        \(\color{magenta} 3\) to get \(\color{green} -2\).
      </p>

      <div style="float:left; width:45%; padding:5%;">
        <table class="synthetic long-division">
          <tr>
            <td class="bottom right">\(3\)</td><td>\(1\)</td><td>\(-5\)</td><td>\(0\)</td><td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom" style="text-align:right">\(\color{magenta} 3\)</td><td class="bottom"></td><td class="bottom"></td>
          </tr>
          <tr>
            <td></td><td>\(\color{blue}{1}\)</td><td>\(\color{green} -2\)</td><td></td><td></td>
          </tr>
        </table>
      </div>
      <div style="float:left; width:45%; padding:5%">
        <table class="long-division">
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td>\(\color{blue}{1x^2}\)</td><td>\(\color{green}{-}\)</td><td>\(\color{green}{2x}\)</td>
          </tr>
          <tr>
            <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td class="bottom">\({\color{magenta}-}\left(x^3\right.\)</td><td class="bottom">\(-\)</td><td class="bottom">\(\left.\color{magenta}3x^2\right)\)</td><td></td><td></td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td>\(\color{green}-2x^2\)</td>                   <td>\(+\)</td>           <td>\(0x\)</td>          <td>\(+\)</td>                 <td>\(25\)</td>
          </tr>
        </table>
      </div>

      <p style="clear:left">
        After that, the process repeats: multiply your
        newest coefficient (in this case \(\color{green}-2\)) on the quotient line
        (the bottom line) by "the number in the box."
        Place that product (in this case, \(\color{orange}-6\)) in the next column over
        directly below the next coefficient in the dividend and add the
        result to get your next coefficient (in this case, \(\color{purple}-6\))
        in the quotient:
      </p>

      <div style="float:left; width:45%; padding:5%;">
        <table class="synthetic long-division">
          <tr>
            <td class="bottom right">\(3\)</td><td>\(1\)</td><td>\(-5\)</td><td style="text-align:right">\(0\)</td><td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom" style="text-align:right">\(\color{magenta} 3\)</td><td class="bottom">\(\color{orange}-6\)</td><td class="bottom"></td>
          </tr>
          <tr>
            <td></td><td>\(\color{blue}{1}\)</td><td>\(\color{green} -2\)</td><td>\(\color{purple}-6\)</td><td></td>
          </tr>
        </table>
      </div>
      <div style="float:left; width:45%; padding:5%">
        <table class="long-division">
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td>\(\color{blue}{1x^2}\)</td><td>\(\color{green}{-}\)</td><td>\(\color{green}{2x}\)</td><td>\(\color{purple}-\)</td><td>\(\color{purple}{6}\)</td>
          </tr>
          <tr>
            <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td class="bottom">\({\color{magenta}-}\left(x^3\right.\)</td><td class="bottom">\(-\)</td><td class="bottom">\(\left.\color{magenta}3x^2\right)\)</td><td></td><td></td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td>\(\color{green}-2x^2\)</td>                   <td>\(+\)</td>           <td>\(0x\)</td>          <td>\(+\)</td>                 <td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td class="bottom">\(\color{orange}-\)</td>                       <td class="bottom">\(\left(-2x^2\right.\)</td>                   <td class="bottom">\(+\)</td>           <td class="bottom">\(\left.\color{orange}6x\right)\)</td>          <td></td>                 <td></td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                              <td style="text-align:right">\(\color{purple}-6x\)</td>                        <td>\(+\)</td>             <td>\(25\)</td>
          </tr>
        </table>
      </div>

      <p style="clear:left">
        The steps are the same until the last step.  But since the last step
        involves finding the remainder, it is common to separate it out
        visually.  Your remainder will always be the last number in the
        quotient line, but I recommend putting a box around it:
      </p>

      <div style="float:left; width:45%; padding:5%;">
        <table class="synthetic long-division">
          <tr>
            <td class="bottom right">\(3\)</td><td>\(1\)</td><td>\(-5\)</td><td style="text-align:right">\(0\)</td><td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom" style="text-align:right">\(\color{magenta} 3\)</td><td class="bottom">\(\color{orange}-6\)</td><td class="bottom">\(\color{brown}-18\)</td>
          </tr>
          <tr>
            <td></td><td>\(\color{blue}{1}\)</td><td>\(\color{green} -2\)</td><td>\(\color{purple}-6\)</td><td class="left bottom">\(\color{red}7\)</td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
      <div style="float:left; width:45%; padding:5%">
        <table class="long-division">
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td>\(\color{blue}{1x^2}\)</td><td>\(\color{green}{-}\)</td><td>\(\color{green}{2x}\)</td><td>\(\color{purple}-\)</td><td>\(\color{purple}{6}\)</td><td>\(\color{red} +\)</td>                 <td>\(\color{red}\frac{7}{x-3}\)</td>
          </tr>
          <tr>
            <td>\(x\)</td><td>\(-\)</td><td>\(3\)</td><td class="left top">\(\quad x^3\)</td><td class="top">\(-\)</td><td class="top">\(5x^2\)</td><td class="top">\(+\)</td><td class="top">\(0x\)</td><td class="top">\(+\)</td><td class="top">\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td class="bottom">\({\color{magenta}-} \left(x^3\right.\)</td><td class="bottom">\(-\)</td><td class="bottom">\(\left.\color{magenta}3x^2\right)\)</td><td></td><td></td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td>\(\color{green}-2x^2\)</td>                   <td>\(+\)</td>           <td>\(0x\)</td>          <td>\(+\)</td>                 <td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td class="bottom">\(\color{orange}-\)</td>                       <td class="bottom">\(\left(-2x^2\right.\)</td>                   <td class="bottom">\(+\)</td>           <td class="bottom">\(\left.\color{orange}6x\right)\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                              <td style="text-align:right">\(\color{purple}-6x\)</td>                        <td>\(+\)</td>             <td>\(25\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td style="text-align:right">\(\color{brown}-\)</td>                              <td class="bottom" style="text-align:right">\(\left(-6x\right.\)</td>                        <td class="bottom">\(+\)</td>             <td class="bottom">\(\left.\color{brown}18\right)\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                                                                         <td></td>                                                                                              <td></td>                                                    <td>\(\color{red}7\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                              <td></td>                        <td class="bottom">\(-\)</td>             <td class="bottom">\(7\)</td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>                                 <td></td>                       <td></td>                                                         <td></td>                                                                         <td></td>                                                                                              <td></td>                                                    <td>\(0\)</td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>

      <p style="clear:left">
        The very last step---which is redundant in this case since we
        also carried out the long-division&mdash;is to interpret the numbers
        on the quotient line as the coefficients of the quotient listed in
        descending order
        with the final remainder listed last.
        The thing to realize here is that the degree of the quotient
        will be one less than the degree of the original thing you
        divided&mdash;the dividend&mdash;because the divisor was degree 1.
        Since the dividend in this case is degree 3 (\(x^3-5x^2 + 25\)) the
        quotient is degree 2; you start with \(1x^2\) and continue in
        decreasing order.  So, the quotient with final remainder is
          \[
            x^2 - 2x - 6 + \frac{7}{x-3}
          \]
      </p>
    </div>
  </div>
</div>
</p>

<p>
  Here goes one more example before you start practicing on your own.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <a href="https://www.loom.com/share/c98c3541576545eaaa3a9bf222f7f805" target="_blank">Click for video.</a>
  </p>

  <p>
    Use synthetic division to determine quotient and remainder resulting
    from the following:
      \[
        \left(3x^5 - 8x^3 + 2x^2 - x + 1\right) \div \left(x+2\right)
      \]
    Put your answer in the form
      \[
        q(x) + \frac{r}{d(x)}
      \]
    where \(q(x)\) is the quotient, \(d(x)\) is the divisor, and \(r\)
    is the remainder.
  </p>

  <div class="answer">
    <a class="collapsible"><h3>Answer: </h3></a>
    <div class='inner'>
      <p>
        As a quick recap, put the "zero" of the divisor in the box.
        Since \(x+2\) is the divisor, its zero is \(-2\).
        Put the coefficients of the dividend in order, placing \(0\)'s for any
        missing terms.  Bring down the leading coefficient of your dividend
        as the leading coefficient of the quotient.  Multiply each coefficient o
        f the quotient by the zero in "the box", adding this to the next
        coefficient of the dividend to get the next coefficient of the
        quotient and finally the remainder:
        <table class="center synthetic long-division">
          <tr>
            <td class="bottom right">\(-2\)</td><td>\(3\)</td><td style="text-align:right">\(0\)</td><td>\(-8\)</td><td>\(2\)</td><td>\(-1\)</td><td>\(1\)</td>
          </tr>
          <tr>
            <td></td><td class="bottom"></td><td class="bottom" style="text-align:right">\(-6\)</td><td class="bottom">\(12\)</td><td class="bottom">\(-8\)</td><td class="bottom">\(12\)</td><td class="bottom">\(-22\)</td>
          </tr>
          <tr>
            <td></td><td>\(3\)</td><td>\(-6\)</td><td>\(4\)</td><td>\(-6\)</td><td>\(11\)</td><td class="left bottom">\(-21\)</td>
          </tr>
          <tr>
          </tr>
        </table>
      </p>
      <p>
        Finally, interpret the numbers on the bottom line as the coefficients
        of the quotient, plus remainder, with terms listed in descending
        order of power.  Since the dividend was degree 5, the
        quotient is degree 4:
          \[
            3x^4 - 6x^3 + 4x^2 - 6x + 11 - \frac{21}{x+2}
          \]
      </p>
    </div>
  </div>
</div>
</p>




<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
