{% extends "book_page.html" %}

{% block content %}

<p class="subhead">
  What is a rational function?  Well, what does the word "rational" mean?
  Does it mean "sane" or "reasonable"?  You may be surprised to learn that that
  meaning of "sane" is a metaphorical extension of what the word means
  here&mdash;that is, of what "rational" means in the mathematical setting.
</p>

  The key to understanding it all is the word "ratio."  You know what a ratio
  is!  A ratio, of course, involves the comparison of two numbers,
  of saying how big one is <em>relative to</em> another.  For instance,
  you could say that \(\frac{2}{4} = \frac{1}{2}\) also means that "2 is
  half of 4."  Of course, you could also say that ratios are about division.
  So, why do people say "rational" means "sane" or "reasonable"?
  It is because they are trying to say that you can weigh one thing against
  another&mdash;that you are capable of making decisions or discriminating or
  judging between choices: "How does option 1 compare to option 2?"

  Now, on to math.  A <b>rational function</b> is a ratio of polynomials.
  (I trust that you remember what  a polynomial is, especially if I remind
  you that those were the objects we were adding, subtracting, multiplying,
  dividing, "solving," and graphing in the previous chapter.)


<p>
<div class="definition">
  <h2></h2>
  A <b>rational function</b> \(f\) is one given by a rule of the form
    \[
      f(x) = \frac{p(x)}{q(x)}
    \]
  where \(p\) and \(q\) are both polynomials.  For example,
    \[
      f(x) = \frac{x^3 - 7x^2 -9}{3x^2 +7}
    \]
  is a rational function and so is
    \[
      g(x) = \frac{-4x^8 + 6x^5 - 14x^6 - 9.72}{11x^3 - 4.5x^2 + x- 9}
    \]
</div>
</p>

{% endblock %}
