{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  In this section, we turn to a concept that we will use again and again.
  We can represent a set of ordered pairs&mdash;what a mathematician
  would call a <em>relation</em> as a graph on the \((x,y)\)-plane.
  It's a pretty simple concept&mdash;but one that provides a remarkably
  helpful perspective on equations and functions.  (Recall that a function
  is a special kind of a set of ordered pairs&mdash;a
  special type of relation.)
<p>

<p>
  This may be something you have studied before, but, as it is pretty simple
  to explain, I'll give a full treatment here.  The context is the concept
  of an ordered pair of real numbers, such as
  \[
    (2, -1)
  \]
  But the further context is that these ordered pairs might either represent
  the input/output pairs associated with a function (which, as discussed
  in the section on
  <a href="{{ url_for('section', section_name='function_notation') }}">
    Function Notation
  </a> is a set of ordered pairs).
  Or they might be members of the set of all pairs that satisfy (make true)
  and equation that involve \(x\) and \(y\).
  For instance, consider the equation
  \[
    x^2 + y^2 = 1
  \]
  Imagine the set of all \((x,y)\)-pairs that make this equation true.
  For instance, the pair \((x,y) = (1,0)\) is in this set, since, when
  you let \(x = 1\) and \(y = 0\), you get
  \[
    \textrm{LHS} = x^2 + y^2 = 1^2 + 0^2 = 1 + 0 = 1 = \textrm{RHS}
  \]
  They make the equation true; they "satisfy" the equation!  So, imagine
  the set of <em>all</em> pairs that makes this equation true.  What we consider
  here is what the set "looks" like.  Do you have any idea what I mean by that?
  If you do, imagine what it would be like to be asked that question and
  to have never before learned the concept of a graph.  And if you have no
  idea, just read to the next paragraph.
</p>

<p>
  Having gotten slightly ahead of the discussion, we now need to pause
  and say just exactly how we might visualize a set of ordered pairs&mdash;or,
  for starters, even just a single ordered pair.  The method is basically
  just a form of "charting."  It is something that will be utterly unsurprising
  to you if you have ever done anything related to maps with longitude
  and latitude or even used a table with rows and columns or have every
  played a game of Battleship.  Graphing of ordered pairs happens
  on a chart or playing field that looks like this, but is imagined
  to extend out infinitely:

  <div style="text-align:center">
    <img src="{{ url_for('static', filename='images/blank.png') }}"
      width="40%">
  </div>
</p>

<p>
  First of all, to understand what you are looking at, what you have here
  is two real lines, one oriented horizontally and the other vertically.
  Where they cross forms the point 0 on <em>both</em> lines.  The grid
  lines are just sort of decorative&mdash;they are there to help you visuallize&mdash;but
  they really don't need to be drawn at all or could be drawn differently.
  Now, when we plot an ordered pair, like
  \[
    (2,-1)
  \]
  we are just going to view it as "instructions" about how far to move from
  0 <em>on both lines</em>.  The first coordinate tells us how far from 0 and
  in what direction we are to move on the <em>horizontal</em> line.  The second coordinate
  tells us how far from 0 and
  in what direction we are to move on the <em>vertical</em> line.
  We plot the unique "point" that coincides with <em>both</em> of these
  instructions.  So, since the first coordinate is \(2\), we imagine moving
  from the 0-point (by the way, it is called <em>the origin</em>
  because that is where you imagine you start) 2 units to the right,
  and because the second coordinate is \(-1\), we imagine
  travelling (additionally) one unit <em>down</em>.  (If the
  first coordinate is negative, you move left, whereas if it is positive,
  you move right.  If the second coordinate is negative, you move down,
  whereas if it is positive you move up.)  Thus, at the end we plot a point&mdash;coinciding
  with both instructions&mdash;like so:

  <div style="text-align:center">
    <img src="{{ url_for('static', filename='images/simple_graphing/just_points1.png') }}"
      width="40%">
  </div>
</p>

<p>
  Now, as mentioned above, we will be mainly concerned with the graph of
  a (given) <em>equation</em>.  What does that mean?  For instance, taking
  again the same example as above, you might consider the equation
  \[
    x^2 + y^2 = 1
  \]
  Its graph is <em>the set of all \((x,y)\) pairs that make the equation true.</em>
  Of, you might say, it is a visualization of that set.  So, in other words,
  it is just <em>the solution set</em> of that equation&mdash;or, again,
  really a visualization of it.  So, in that sense, it is "the same" as what
  we did in the section on
  <a href="{{ url_for('section', section_name='graphsoflinearinequalities') }}">
    real line graphs
  </a>: you shade or draw the points that make the relation true.  One difference
  here is that it takes <em>two</em> values (one for \(x\) and one for \(y\))
  to make the equation true, while when you are graphing on the real line, you
  are only concerned with a single variable, say \(x\).  To elaborate a little further,
  you could also graph the solution to inequalities that involve two variables,
  and you could graph the solution to equations that involve only a single one.
  In the next example, we are just going to explore the basic, fundamental
  concept of a "graph of an equation".  Then, soon enough, we'll start trying
  to figure out to draw the whole graph of certain simple equations.
</p>

  <p>
  <div class="example">
    <h2></h2>
    <p>
    <!-- <a href="" target="_blank">Click for video.</a> -->
    </p>

    <p>
      Without graphing (by doing an algebraic check),
      tell me whether the following points lie on the graph of the given equation.
    </p>
    <ol class="multi-part" style="list-style-type: lower-alpha;">
      <li>
        \((-1, 2)\)
        <div class="answer">
          <a class="collapsible"><h3>Answer: </h3></a>
          <div class='inner'>
            When you make the substitutions \)x= -1\) and \(y=2\)
            you get that
              \[
              \textrm{LHS} = (x+2)^2 + 1 =  (-1+2)^2 +1 = 1^2 + 1 = 1+1 = 2 = y = \textrm{RHS}
              \]
            So, yes the pair \((-1, 2)\) lies on the graph of the equation.
          </div>
        </div>
      </li>
      <li>
        \((1, 0)\)
        <div class="answer">
          <a class="collapsible"><h3>Answer: </h3></a>
          <div class='inner'>
            When you make the substitutions $x= 1$ and $y=0$
            you get that
              \[
              \textrm{LHS} =  (x+2)^2 +1  = (1+2)^2 +1 = 3^2 + 1 = 9 + 1 = 10 \neq 0 = y = \textrm{RHS}
              \]
            So, no, the pair \((-1, 2)\) does not lie on the graph of the equation.
          </div>
        </div>
      </li>
      <li>
        \((1, 0)\)
        <div class="answer">
          <a class="collapsible"><h3>Answer: </h3></a>
          <div class='inner'>
            When you make the substitutions $x= 1$ and $y=0$
            you get that
              \[
              \textrm{LHS} =  (x+2)^2 +1  = (1+2)^2 +1 = 3^2 + 1 = 9 + 1 = 10 \neq 0 = y = \textrm{RHS}
              \]
            So, no, the pair \((-1, 2)\) does not lie on the graph of the equation.
          </div>
        </div>
      </li>
    </ol>
  </div>
</p>


<p>
  We now turn to question that will address again and again as we encounter
  new and different equations: How do you know that the graph of an equation is?
  As a warning up front, I want you to know that there is <em>no uniform
    way to figure out what the graph of an equation looks like</em>.  Instead,
    I will advocate different methods depending on the nature of the equation.
    However, what I am saying here isn't totally true  in the sense that
    there is a method that you can always apply and will always help out,
    even if it doesn't efficiently lead you to knowledge of what the graph looks
    like.  I am speaking here of "trial and error".  One thing you can
    always try is to plug in different values for, say, \(x\) and then
    figure out what \(y\) would have to be.  You can then plot the resulting
    value.  I will tend to refer this approach as "just plotting points".
    The only problem with it is that there (typically) an infinite number
    of points to try&mdash;so you really need some other appraoch to know
    <em>for sure</em> what a given graph looks like.  Time to get going on it!
</p>

<p>
  We'll start with one of the easiest ones of all:
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    We will graph this equation:
    \[
      y = x
    \]
  </p>
  <ol>
    <li>
      We want to draw a picture of the graph of this equation.  But, first
      of all, what does it even mean for a particular graph
      to be <em>the</em> graph of a given equation?
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          The graph of an equation is the set of all \((x, y)\) pairs that makes the
          equation true.  This is example is quite simple, so it is easy
          to see what pairs make it true: every pair like these:
          \[
            (1, 1), (2, 2), (3, 3), (-1, -1), (-2, -2), \left(\frac{1}{2}, \frac{1}{2}\right)\ldots
          \]
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
            Given our observation about what pairs satisfy this equation&mdash;literally,
            every \(x, y\)-pair where the \(x\) is the same as the \(y\)&mdash;it
            hopefully makes sense that it would like like so:

            <div style="text-align:center">
              <img src="{{ url_for('static', filename='images/simple_graphing/line1.png') }}"
                width="40%">
            </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  Now, we just alter this equation bit by bit, seeing each change in
  the formula changes the resulting graph.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    We will graph this equation:
    \[
      y = x + 1
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\), \(y = 0 + 1 = 1\).  Also, for each increase in \(x\),
          \(y\) will increase by the same amount.
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          In terms of the visual,
          our description means that the graph will be a straight line.
          The fact that "for each increase in \(x\),
          \(y\) will increase by the same amount" means that
          proportional
          changes in \(x\) lead to proportional changes in \(y\), which
          makes it a straight line.  Since any two points serve to
          determine a line, we can plot the pair \((0,1)\) and then
          just one more to be certain of getting the correct line.
          Plugging
          in \(x=1\) yields \(y = 1 + 1 = 2\). So,
          you could plot \((1, 2)\), and then trace the straight line that
          passes through those points:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line2.png') }}"
              width="40%">
          </div>

          A good observation to make here is that the graph looks the same
          as that of \(y = x\) only "shifted up one unit."
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  Note that there was nothing special about the adding 1 in the previous example.
  We could have added 3 or 5 or any number whatsoever.  We also could
  have subtracted any number, for that matter.
  So, the general take-away there is that an equation of the form
  \[
    y = x + b
  \]
  will run through the point \((0, b)\) and will then "go up 1 for every
  1 you run to the right in the \(x\)-direction", following a straight-line course.
  Since the point \((0,b)\) lies on the \(y\)-axis, it is called the
  <em>\(y\)-intercept</em>.  That is, it represents where the line
  "intercepts" or intersects the \(y\)-axis.
</p>

<p>
  Now, we change the equation \(y = x\) in a slightly different way.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    We will graph this equation:
    \[
      y = 2x
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\), \(y = 2 \cdot 0 = 0\).  Also, for each increase in \(x\),
          \(y\) will increase by <em>twice</em> as much.
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          In terms of the visual,
          our description means that the graph will be a straight line.
          The fact that "for each increase in \(x\),
          \(y\) will increase by <em>twice</em> as much" means that
          proportional
          changes in \(x\) lead to proportional changes in \(y\), which
          makes it a straight line.  Since any two points serve to
          determine a line, we can plot the pair \((0,0)\) and then
          just one more to be certain of getting the correct line.  Plugging
          in \(x=1\) yields \(y = 2\cdot 1 = 2\).  So,
          you could plot \((1, 2)\), and then trace the straight line that
          passes through those points:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line3.png') }}"
              width="40%">
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  There is some vocabulary commonly associated with lines that is starting to be
  of use.  It has to do describing how \(y\) changes as \(x\) increases.
  In the last example, we noted that "for every increase of 1 in \(x\),
  there is an increase of 2 in \(y\)".  On the graph, this resulted in
  a "steeper" graph, did it not?  Thinking of the "steepness"&mdash;imagining
  that one is climbing the graph like a hiker&mdash;these degree of steepness
  is often called "slope".  Specifically, we describe the slope with a numerical&mdash;2
  in the last case!  In short, whatever you say the \(y\) increases by when
  \(x\) increases by 1 is the slope.  When you are looking at the graph, the
  slope is therefore how far the graph "rises" when you "run" (to the <em>right</em>)
  one unit in the \(x\) direction.  Let's come back to that thought after the
  next example.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    We will graph this equation:
    \[
      y = \frac{3}{2}x
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\), \(y = \frac{3}{2} \cdot 0 = 0\).  Also, for each increase in \(x\),
          \(y\) will increase by \(\frac{3}{2} = 1.5\).  Since that's a little awkward,
          note that it is equivalent to say that for every increase of 2 in \(x\), \(y\)
          will increase by 3.  (After all, if you increase by 1.5 twice, then you end
          up increasing by 3.)
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          In terms of the visual,
          our description means that the graph will be a straight line.
          The fact that "for each increase in \(x\),
          \(y\) will increase by <em>1.5</em> as much" means that
          proportional
          changes in \(x\) lead to proportional changes in \(y\), which
          makes it a straight line.  Since any two points serve to
          determine a line, we can plot the pair \((0,0)\) and then
          just one more to be certain of getting the correct line.  Plugging
          in \(x=1\) yields \(y = \frac{3}{2}\cdot 1 = \frac{3}{2}\),
          which isn't so convenient to plot.  I'd prefer not
          to deal with a fraction when I go to draw on a graph (but
          rather to hit points that lie exactly on "grid lines"),
          so I can choose to try another value for
          \(x\).  The trick is to pick an \(x\) that will "knock
          out" the fraction.  Put another way, what \(x\) will kill off
          the denominator?  How about \(x = 2\)!.  Indeed, when
          \(x = 2\),
          \[
            y = \frac{3}{2} \cdot 2 = 3
          \]
          So,
          you could plot \((2, 3)\), and then trace the straight line that
          passes through those points:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line4.png') }}"
              width="40%">
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  Now, back to the concept of "slope".  We discussed above the fact that
  the "slope of a line" can be understood as the amount that \(y\)
  increases by for each increase of 1 in \(x\).  In the past example,
  we had that the slope was \(\frac{3}{2}\).  We also realized
  that we could instead express this (constant) slope in a different fashion:
  instead of saying that \(y\) increases by \(\frac{3}{2} = 1.5\) for every increase of 1 in
  \(x\), it is equivalent to say that \(y\) increases by 3 for every increase
  of 2 in  \(x\).  Therefore, we can also remark that the numerator
  of the slope tells you what \(y\) "rises" by while \(x\) "runs"
  (specifically, to the right) by 2, which appears in the denominator.
  For that reason, slope is often referred to (by math teachers)
  as "rise over run".  I will warn you, though, that you must
  independently remember that that "run" is "to the right".
</p>

<p>
  Now, the astute reader might have a follow-up question in regard to my
  previous paragraph.  What about the example of
  \[
    y = 2x
  \]
  We discussed above that slope of the line with this equation is 2.
  That is, for every increase of 1 in \(x\), \(y\) increases by 2.
  But in what sense is the number 2 like "rise over run"?  Where
  is the numerator and denominator there?  To see that the "rise
  over run" slogan still works, you would just need to rewrite
  2 as a fraction:
  \[
    2 = \frac{2}{1}
  \]
  So, yes, it still is "rise over run".
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>

  <p>
    We will graph this equation:
    \[
      y = -\frac{3}{2}x
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\), \(y = -\frac{3}{2} \cdot 0 = 0\).  Also, for each increase in \(x\),
          \(y\) will <em>decrease</em> by \(\frac{3}{2} = 1.5\).  Since that's a little awkward,
          note that it is equivalent to say that for every decrease of 2 in \(x\), \(y\)
          will decrease by 3.  (After all, if you decrease by 1.5 twice, then you end
          up decreasing by 3.)
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          In terms of the visual,
          our description means that the graph will be a straight line.
          The fact that "for each increase in \(x\),
          \(y\) will decrease by <em>1.5</em> as much" means that
          proportional
          changes in \(x\) lead to proportional changes in \(y\), which
          makes it a straight line.  Since any two points serve to
          determine a line, we can plot the pair \((0,0)\) and then
          just one more to be certain of getting the correct line.  Plugging
          in \(x=1\) yields \(y = -\frac{3}{2}\cdot 1 = -\frac{3}{2}\),
          which isn't so convenient to plot.  I'd prefer not
          to deal with a fraction when I go to draw on a graph (but
          rather to hit points that lie exactly on "grid lines"),
          so I can choose to try another value for
          \(x\).  The trick is to pick an \(x\) that will "knock
          out" the fraction.  Put another way, what \(x\) will kill off
          the denominator?  How about \(x = 2\)!.  Indeed, when
          \(x = 2\),
          \[
            y = -\frac{3}{2} \cdot 2 = -3
          \]
          So,
          you could plot \((2, -3)\), and then trace the straight line that
          passes through those points:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line5.png') }}"
              width="40%">
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  We now tweak the problems a little further, by combining two ideas seen above.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  <p>
    We will graph this equation:
    \[
      y = -\frac{3}{2}x + 1
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\),
          \[
            y = -\frac{3}{2} \cdot 0 + 1 = 0 + 1 = 1
          \]
          Also, for each increase in \(x\),
          \(y\) will decrease by \(\frac{3}{2} = 1.5\).  Since that's a little awkward,
          note that it is equivalent to say that for every decrease of 2 in \(x\), \(y\)
          will decrease by 3.  (After all, if you decrease by 1.5 twice, then you end
          up decreasing by 3.)
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          In terms of the visual,
          our description means that the graph will be a straight line.
          The fact that "for each increase in \(x\),
          \(y\) will decrease by <em>1.5</em> as much" means that
          proportional
          changes in \(x\) lead to proportional changes in \(y\), which
          makes it a straight line.  Since any two points serve to
          determine a line, we can plot the pair \((0,1)\) and then
          just one more to be certain of getting the correct line.  Plugging
          in \(x=1\) yields
          \[
            y = -\frac{3}{2}\cdot 1 + 1 = -\frac{3}{2} + 1 = -\frac{1}{2}
          \]
          which isn't so convenient to plot.  I'd prefer not
          to deal with a fraction when I go to draw on a graph (but
          rather to hit points that lie exactly on "grid lines"),
          so I can choose to try another value for
          \(x\).  The trick is to pick an \(x\) that will "knock
          out" the fraction.  Put another way, what \(x\) will kill off
          the denominator?  How about \(x = 2\)?  Indeed, when
          \(x = 2\),
          \[
            y = -\frac{3}{2} \cdot 2 + 1 = -3 + 1 = -2
          \]
          So,
          you could plot \((2, -2)\), and then trace the straight line that
          passes through those points:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line6.png') }}"
              width="40%">
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  We have now seen a pretty full variety of examples.  We can now generalize on
  what we are seeing, and make a final remark on the vocabulary.
  In the exercises, you will be asked to graph equations&mdash;like those you
  have just encountered&mdash;that are of the form
  \[
    y = mx + b
  \]
  You could also write these as
  \[
    y = b + mx
  \]
  if you so chose.  Since when \(x = 0\) you have
  \[
    y = b + m\cdot 0 = b + 0 = b
  \]
  you have that the graph passes through the point \((0, b)\).  Since
  the \(y\)-axis is placed where \(x = 0\), you have that this point
  represents the unique point at which the graph crosses the \(y\)-axis.
  Thus, \(b\) is called the \(y\)-intercept.  Further, if you increase
  \(x\) by 1, you will get that
  \[
    y = b + m \cdot 1 = b + m
  \]
  Thus, we see that, after starting at \(y = b\), \(y\) increases
  by \(m\) as \(x\) increases by 1.  With just a little more thought,
  one can argue that the change in \(y\) is always proportional to
  the corresponding change in \(x\) and thus we are looking at
  the equation for a straight line.  The value \(m\) is thus called
  its "slope".  As mentioned above it is called slope because
  it measures the steepness of the increase.  Spefically, it tells
  you how much \(y\) increases (or, decreases, if \(m\) is negative)
  for each increase of 1 in the \(x\).
</p>

<p>
  There is one type of example that we haven't seen yet.  It is actually
  easier, but it can be confusing if it comes up unexpectedly.  We turn to
  one now.
</p>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  <p>
    We will graph this equation:
    \[
      y = 5
    \]
  </p>
  <ol>
    <li>
      Think about the English descriptions for a relationship between variables
      like those we gave in the section on developing
      <a href="{{ url_for('section', section_name='basicfunctionsinatableandwords') }}">
        formulas from tables.
      </a>
      Give an English description for how \(y\) is related to \(x\)&mdash;being
      sure to give enough detail that someone could reconstruct this
      equation based only your description.  And think
      about how your description will be reflected in the graph!
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          When \(x=0\),
          \[
            y = 5
          \]
          When \(x = 1\),
          \[
            y = 5
          \]
          And when \(x = 10\),
          \[
            y = 5
          \]
          Yes, the point is: \(y = 5\) regardless of what \(x\) equals.
          So, what does this look like?
        </div>
      </div>
    </li>
    <li>
      Graph the equation.
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          We just need to draw the set of pairs all of whose
          \(y\)-values are 5.  Or, at least, we need to draw those
          pairs of that type that actually fall within the viewing window.  Like so:

          <div style="text-align:center">
            <img src="{{ url_for('static', filename='images/simple_graphing/line7.png') }}"
              width="40%">
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
</p>

<p>
  Now, so far we have seen how to come up with the graph of a certain class of
  equations.  Now we practice the reverse.  In the next two examples, I give
  you the graph, and you come up with the equation.
</p>

<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  <p>
    Find an equation for the given graph:

    <div style="text-align:center">
    {% set svg_id = 'svg1' %}
    {% set points = [[0,3], [4, -2]]%}
    {% set poly_points = '0.0,-96.25 350.0,341.25' %}
    {% set parameters = {
        'svg_x_length': 350,
        'svg_y_length': 350,
        'cart_x_min': -10,
        'cart_x_max': 10,
        'cart_x_length': 20,
        'cart_y_min': -10,
        'cart_y_max': 10,
        'cart_y_length': 20
      }
    %}
    {% include "_static_graph.html" %}
    </div>

    <div class="answer">
      <a class="collapsible"><h3>Answer: </h3></a>
      <div class='inner'>
        We can describe this line as follows:
        <blockquote>
          When \(x = 0\), \(y = 3\), and for every 4 that \(x\) increases,
          we see that \(y\) drops by 5.
        </blockquote>
       We can get capture
       the first part of this statement by writing
       \[
         y = 3 - \phantom{x}
       \]
       and then we can work in the fact that "\(y\) decreases by
       5 as \(x\) increases by 4" by continuing:
       \[
         y = 3 - \frac{5}{4}x
       \]
       Have I gone too fast?  To verify what I have written down, note
       that if you plug in \(x = 0\), you get \(y = 3\), which
       agrees with the graph.  And if you plug in \(x = 4\), you
       get
       \[
          y = 3 - \frac{5}{4} \cdot 4 = 3 - 5 = -2
      \]
      which means the other point on the graph also satisfies our equation.
      We can reason that the graph our equation must be straight line, so
      our answer must be correct.
      </div>
    </div>
  </p>
</div>

<p>
<div class="example">
  <h2></h2>
  <p>
  <!-- <a href="" target="_blank">Click for video.</a> -->
  </p>
  <p>
    Find an equation for the given graph:

    <div style="text-align:center">
      {% set svg_id = 'svg2' %}
      {% set points = [[0,-2], [1, 0]]%}
      {% set poly_points = '0.0,560.000000000000 350.0,-140.000000000000 ' %}
      {% set parameters = {
          'svg_x_length': 350,
          'svg_y_length': 350,
          'cart_x_min': -10,
          'cart_x_max': 10,
          'cart_x_length': 20,
          'cart_y_min': -10,
          'cart_y_max': 10,
          'cart_y_length': 20
        }
      %}
      {% include "_static_graph.html" %}
    </div>

    <div class="answer">
      <a class="collapsible"><h3>Answer: </h3></a>
      <div class='inner'>
        We can describe this line as follows:
        <blockquote>
          When \(x = 0\), \(y = -2\), and for every 1 that \(x\) increases,
          we see that \(y\) increases by 2.
        </blockquote>
       We can get capture
       the first part of this statement by writing
       \[
         y = -2 + \phantom{x}
       \]
       and then we can work in the fact that "\(y\) increases by
       2 as \(x\) increases by 1" by continuing:
       \[
         y = -2 + 2x
       \]
       To verify what I have written down, note
       that if you plug in \(x = 0\), you get \(y = -2\), which
       agrees with the graph.  And if you plug in \(x = 1\), you
       get
       \[
          y = -2 + 2 \cdot 1 = -2 + 2 = 0
      \]
      which means the other point on the graph also satisfies our equation.
      We can reason that the graph our equation must be straight line, so
      our answer must be correct.
      </div>
    </div>
  </p>
</div>
</p>

<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
