{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  In this section, we use what you might call the "\(ac\)" method to factor
  certain quadratics of the form
  \[
    ax^2 + bx + c
  \]
  that are actually the result of multiplying together an expression of the form
  \[
    (mx+p)(nx+q)
  \]
  (This is the method of factoring that is detailed in the the section entitled,
  <a href="{{ url_for('section', section_name='factoringtrinomialslevel2') }}">
    Factoring Trinomials, Part 2.
  </a>
  )
  However, it is certainly possible that \(ax^2+bx+c\) was not the result of multiplying
  together something of the form \((mx+p)(nx+q)\),
  which means it will not be factorable using that method.
  So, while all the quadratics in this section will be factorable using this
  method, those in future sections may not be factorable in any nice way.
</p>

<p>
  Recall that if we can factor a quadratic, then we can use that to solve an
  equation.  After all, if \(m\neq 0\), \(n \neq 0\), \(p\), \(q\), and \(x\)
  are real numbers and
    \[
      (mx+p)(nx+q)=0
    \]
  then
    \begin{align*}
      mx + p = 0 & \textrm{     or    } nx+q = 0 \\
      mx = - p & \textrm{     or    } nx = -q \\
      x = - \frac{p}{m} & \textrm{     or    } x = -\frac{q}{n} \\
    \end{align*}
  I bet you're ready to just see an example already!
</p>




<p>
<div class="example">
  <h2></h2>
  <p>
  <a href="https://www.loom.com/share/7c4157a9e64c4741b2319f89fa1c71e6" target="_blank">Click for video.</a>
  </p>

  Solve by factoring.
    \[
      3x^2- 2x - 8 = 0
    \]

  <div class="answer">
    <a class="collapsible"><h3>Answer: </h3></a>
    <div class='inner'>
      Since \(3(-8) = -24 = 4(-6)\) and \(4 - 6 = -2\), the trick is to rewrite
      \(-2x\) as \(-6x + 4x\) and
      factor by grouping, then to set the individual factors equal to zero:
        \begin{align*}
          & 3x^2- 2x - 8 = 0\\
          \Rightarrow \quad & 3x^2 - 6x + 4x - 8 = 0 \\
          \Rightarrow \quad & 3x(x-2) + 4(x - 2) = 0 \\
          \Rightarrow \quad & (3x+4)(x-2) = 0 \\
          \Rightarrow \quad & 3x+4 = 0 \quad \textrm{or}\quad x-2 = 0 \\
          \Rightarrow \quad & x = -\frac{4}{3} \quad \textrm{or}\quad x = 2 \\
        \end{align*}
    </div>
  </div>
</div>
</p>

<p>
  That's pretty much all there is to say here!  But there is one easy extension
  we can make on the previous problems.  With only one added step,
  you can also use the technique just demonstrated to solve some other
  equations of a more general form.  Consider the following example.
</p>


<p>
<div class="example">
  <h2></h2>
  <!-- <p>
  <a href="https://www.loom.com/share/7c4157a9e64c4741b2319f89fa1c71e6" target="_blank">Click for video.</a>
  </p> -->

  Solve by factoring.
    \[
      -2x^2 + 5x + 1 = -5x^2 + 7x + 9
    \]

  <div class="answer">
    <a class="collapsible"><h3>Answer: </h3></a>
    <div class='inner'>
      What are we supposed to do with this?  Should we factor both sides?
      But then what?  Here is a better idea: You are just solving
      an equation, right?  (It might help to think of the fundamental,
      underlying logic that you employ when solving: You always start by assuming
      \(x\) is a real number that satisfies the given.)  Well, when solving
      an equation, the possibilities are pretty wide open: You can
      do whatever you want!  For instance, you can add or subtract
      any number you want from both sides.  In particular, (since \(x\)
      is a real number) I can add \(5x^2\) to both sides (to combine like
      terms) and likewise subtract \(7x\) and \(9\).  That is, I can "move
      everything over to one side", leaving just \(0\) on the other
      as I combine like terms.  Spefically, I am talking about "moving the terms
      on the right over to the left", like so:
      \[
        \matrix{
            -2x^2 & + & 5x & + & 1 &= & -5x^2 & + & 7x & + & 9 \\
            +5x^2 & - & 7x & - & 9 & & +5x^2 & - & 7x & - & 9 \\
            \hline
            3x^2 &- &2x &- &8 &=& 0
        }
      \]
      Now, if you'll forgive me, I cherry-picked this problem so that, after you combine like terms,
      it ends up the same as the given in the previous problem.
      So it has the same solution from here on.  You'll have to look at the previous
      problem to get that.  The point is: You can still combnie like terms
      like always!  (The old rules and tricks don't disappear when you
      learn a new one!)

      \[
        \textrm{[See the previous example for the final solution to this one.]}
      \]
    </div>
  </div>
</div>
</p>


<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
