{% extends "book_page.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p class="subhead">
  Here is a quick recap of the important forms we have learned:

  \begin{equation*}\tag{Slope-intercept Form}
  y = mx+b
  \end{equation*}

  \begin{equation*}\tag{Point-slope Form}
  y = m(x-x_0)+y_0
  \end{equation*}

In this section, we learn yet another format for equations of lines&mdash;called
<b>standard form</b>&mdash;and how best to use this new format to produce a
graph.  We also learn what is nice about standard form.
(We will also use this form in another context later.)
</p>

<p>
  <div class="definition">
    <h2></h2>
    An equation for a line given in the form
    \[
      ax+by = c
    \]
    is said to be in <b>standard form</b>.
    Again, \(x\) and \(y\) will remain "variables",
    but, in the context of a specific problem, \(a\) and \(b\)
    will be filled in as known, specific quantities.
  </div>
</p>

<p>
  How do you graph the equation when it is given in standard form?
</p>


<p>
  <div class="example">
    <h2></h2>
    <p>
    <!-- <a href="" target="_blank">Click for video.</a> -->
    </p>

    <p>
      Graph the equation
        \[
        3x - 2y = 6
        \]

    </p>
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          Here is your method: Note that any two points determines the line.
          So, you just have to
          pick two points that are very easy to plot.
          Like what?  Well, it's easy to plug in \(x=0\) and
          then see what \(y\) will have to be&mdash;namely, \(-3\)&mdash;and
          then plug in \(y=0\) and see what \(x\) will have to be: 2.
          That is, mentally, you can note that the pairs \((0, -3)\) and
          \((2,0)\) will lie on the graph (since they satisfy the equation).

          <div style="text-align:center">
            {% set svg_id = 'svg1' %}
            {% set points = [[0,-3], [2, 0]] %}
            {% set poly_points = '0.0,490.000000000000 350.0,-35.0000000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% include "_static_graph.html" %}
          </div>
        </div>
      </div>
  </div>
</p>

<p>
  Let's see one more example.
</p>

<p>
  <div class="example">
    <h2></h2>
    <p>
    <!-- <a href="" target="_blank">Click for video.</a> -->
    </p>

    <p>
      Graph the equation
        \[
        -35x - 25y = 175
        \]

    </p>
      <div class="answer">
        <a class="collapsible"><h3>Answer: </h3></a>
        <div class='inner'>
          Here is your method: Note that any two points determines the line.
          So, you just have to
          pick two points that are very easy to plot.
          Like what?  Well, it's easy to plug in \(x=0\) and
          then see what \(y\) will have to be:
          \begin{align*}
            &-35 \cdot 0 - 25y = 175\\
            \Rightarrow \quad & -25y = -175\\
            \Rightarrow \quad & y = \frac{-175}{-25}\\
            \Rightarrow \quad & y = 7
          \end{align*}
          So, the graph must pass through the point \((0, 7)\).
          Next, plug in \(y=0\) and see what \(x\) will have to be:
          \begin{align*}
            &-35 x - 25 \cdot 0 = 175\\
            \Rightarrow \quad & -35x = -175\\
            \Rightarrow \quad & y = \frac{-175}{-35}\\
            \Rightarrow \quad & x = 5
          \end{align*}
          Thus, the graph will have to pass through the point \((5, 0)\), as well.
          Finally, just plot those points, and "connect the dots"!

          <div style="text-align:center">
            {% set svg_id = 'svg2' %}
            {% set points = [[5,0], [0, 7]] %}
            {% set poly_points = '0.0,-192.500000000000 350.0,297.500000000000 ' %}
            {% set parameters = {
                'svg_x_length': 350,
                'svg_y_length': 350,
                'cart_x_min': -10,
                'cart_x_max': 10,
                'cart_x_length': 20,
                'cart_y_min': -10,
                'cart_y_max': 10,
                'cart_y_length': 20
              }
            %}
            {% include "_static_graph.html" %}
          </div>
        </div>
      </div>
  </div>
</p>

<p>
  Now, there are a couple special things that can happen with lines in
  standard form that we have not seen in the above examples.  However, I
  want to give these cases special treatment, so they will go in the next section.
</p>

<script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>

<div class="exercise">

  {% if question_name %}
  <a href="{{ url_for('question', question_name=question_name) }}">Click for Exercise</a>
  {% endif %}

</div>

{% endblock %}
