* {
  box-sizing: border-box;
}

:root {
  --logo-background-color: #000132;
  --logo-text-color: #fcba03;
  --logo-text-hover-color: #333465;
  --logo-triadic-third: #970129;
  --old-menu-li-a: #e24f1d;
  --old-menu-li-li-a: #33b5e5;
  --menu-li-a-bgcolor: #b02d0b;
  --theme-color-3: #e24f1d;
  --menu-li-li-a-bgcolor: #e24f1d;
  --theme-color-4: #1d1de2;
  --menu-li-li-li-a-bgcolor: #f46f3f;
  --theme-color-5: #1de221;
  --section-header-color: #e24f1d;
  --menu-blue-hover-color: #0082b2;
}
  /* --logo-background-color: #9933cc; */

html {
  font-family: "Computer Modern"; //
}

body {
  height: 100%;
}

a {
  color: blue;
  text-decoration: none;
}

#site_name {
  font-family: sans-serif;
  /* font-style: oblique; */
  font-variant: small-caps;
  font-weight: bold;
  font-size: 30px;
  color: var(--logo-text-color);
}

.row.after:: {
  content: "";
  clear: both;
  display: table;
}

.padding-40 {
  padding: 40px;
  margin: auto;
  clear: left;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid blue; */
}

.col-100 {width: 100%;}
.col-75 {width: 75%;}
.col-25 {width: 25%;}
.col-50 {width: 50%;}


.header {
  background-color: var(--logo-background-color);
  color: #ffffff;
  padding: 15px;
}



/* .nav {
  clear: right;
} */

.user ul {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

.user li {
  float: left;
}

.user li a {
  color: black;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border: 1px;
}

.user li a:hover {
  background-color: var(--logo-text-color)
}

.nav ul {
  background-color: var(--logo-background-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

.nav li {
  float: left;
}

.nav li a {
  color: var(--logo-text-color);
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border: 1px;
}

.nav li a:hover {
  background-color: var(--logo-text-hover-color)
}

.gradebook {
  /* width: 200%; */
  overflow: scroll;
  /* min-width:100%; */
}

.gradebook-section a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.gradebook-section a:hover {
  background-color: #0082b2;
}

.gradebook table {
  padding: 0;
  border: 1px solid rgba(226, 79, 29, 1);
  margin: 0;
}

.gradebook table td{
  text-align: center;
}




.menu {
  background-color: gray;
  overflow: scroll;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.menu li a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.menu li a:hover {
  background-color: #c02d0b;
}

.menu li li a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li li a:hover {
  background-color: #0082b2;
}

.menu li li li a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-li-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li li li a:hover {
  background-color: #0082b2;
}

.collapsible {
  font-family: "Computer Modern";
  font-size: 16px;
  cursor: pointer;
}

.answer .collapsible {
  color: var(--section-header-color);
}

.answer .collapsible:before {
  content: '\25B6'; /* Unicode character for right-point triangle */
  font-size: 13px;
  font-weight: bold;
  color: var(--section-header-color);
  float: left;
  margin-right: 5px;
  position: absolute;
  left: 12%;
}

.answer .active:before {
  content: '\25BC' /*Unicode character for down-point triangle */
}



.menu .collapsible {
  background-color: var(--menu-li-a-bgcolor);
  color: #ffffff;
  text-align: left;
  padding: 8px;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu .active, .collapsible:hover {
  background-color: #c02d0b;
}

.menu .collapsible:after {
  content: '\002B'; /* Unicode character for '+' sign */
  font-size: 13px;
  font-weight: bold;
  /* color: white; */
  float: right;
  margin-right: 5px;
}

.menu .active:after {
  content: '\2212' /*Unicode character for '-' sign */
}

.show_help {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.inner {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.inner .answer {
  display: none;
  overflow: hidden;
}

.inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.inner li a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-header {
  color: var(--section-header-color);
}



.activity {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(256,182,3, 0.25); //This is logo-text-color but in rbg---should be automated!!
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

/* .activity h2 {
  color: var(--theme-color-3);
  margin-top: 0;
} */

.activity .inline-header {
  color: var(--theme-color-3);
  font-weight: bold;
}


.example {
  border: 1px solid var(--logo-background-color);
  padding-left: 1%;
}


.answer {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 12px;
  color: #e24f1d;
}

/* .first-letter {
  font-size: 35px;
  line-height: 70px;
} */

.subhead p::first-letter {
  /* initial-letter: 3; */
  /* float: left; */
  font-size: 45px;
  /* font-weight: bold;
  line-height: 2;
  margin-right: 4px;
  color: var(--section-header-color); */
}


.exercise a {
  width: 175px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--menu-li-a-bgcolor);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.exercise a:hover, a:active {
  background-color: #0082b2;;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: wheat;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /*Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.progress_container {
  width: 20vw;
  clear: left;
  text-align: center;
  margin: auto;
  padding: 0;
  background-color: gray;
  border: 1px solid gray;
}

#progress_bar {
  background-color: var(--logo-background-color);
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(245,222,179,0.4); /* Wheat w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color:  #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.syntax-table {
  width: 100%;
}

.syntax-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.syntax-table tr:nth-child(even) {
  background-color: #eeeeee
}

.typewriter {
  font-family: 'Courier New';
}

.definition {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(29,226,79, 0.25);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.fact {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(255,165,0, 0.45);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.theorem {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(255,165,0, 0.45);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.question {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(102, 51, 153, 0.25);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.remark {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(102, 0, 51, 0.25);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.corollary {
  border: 1px solid var(--logo-background-color);
  background-color: rgba(255, 255, 0, 0.25);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.list_of_rules {
  border: 1px solid var(--logo-background-color);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 0px 6px;
  /* padding: 10px; */
  border: 2px solid #000;
  border-radius: 5px;
  /* -moz-border-radius: 15px; */
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

table.long-division {
  /* margin-left: auto;
  margin-right: auto; */
  border-collapse: collapse;
  border-style: hidden;
}

table.long-division td {
  padding: 0.5ex;
}

table.long-division td.left {
  border-left: 2px solid black;
}

table.long-division td.right {
  border-right: 2px solid black;
}

table.long-division td.top {
  border-top: 2px solid black;
}

table.long-division td.bottom {
  border-bottom: 2px solid black;
}

.div-border-none {
  border: solid 0;
  padding:0.5ex;
}

.div-border-left {
  border: solid 0;
  border-left-width:2px;
  padding:0.5ex;
}

.div-border-left-top {
  border: solid 0;
  border-left-width:2px;
  border-top-width:2px;
  padding:0.5ex
}

.div-border-top-left {
  border: solid 0;
  border-left-width:2px;
  border-top-width:2px;
  padding:0.5ex
}

.div-border-top {
  border: solid 0;
  border-top-width:2px;
  padding:0.5ex
}

.div-border-bottom {
  border: solid 0;
  border-bottom-width:2px;
  padding:0.5ex
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.synthetic td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  text-align: right;
}

table.xy-horiz {
  border-collapse: collapse;
}

table.xy-horiz td {
  border: 1px solid;
  text-align: center;
  width: 50px;
  padding: 4px;
}

.displayed-transformations {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:red;
}
