<h1>About Me</h1>
  Hi!  About me?  I love to learn.  What a world and a universe of things
  there is to contemplate!  There isn't enough time to consider it all, but what
  a blessing and pleasure it is to contemplate those things that
  we are able.  I heard a quote recently: "God is in the details."  I
  wonder who said it (originally)?  I do not know, and I haven't found out yet.
  I'll let you know if I do.

  <p>
    Here is a small fragment of things together with some context
    that I decided to throw on here.  (This page is very much
    under construction, to tell you the truth.)

    <ol>
      <li>
        <a href="{{ url_for('get_resource', resource='main.pdf') }}">Here is my dissertation</a>
        (<a href="https://sc.edu/study/colleges_schools/artsandsciences/mathematics/alumni/graduate_alumni/index.php">University of South Carolina</a>, 2015,
        under <a href="https://www.mathgenealogy.org/id.php?id=12996">George F. McNulty</a>).
        It was a pleasure to write in many ways.
        Very specifically, I mean that the actual task of <em>writing</em>
        it was surprisingly enjoyable; I found that in the course
        of writing what I already knew, I spontaneously and organically
        started thinking of so much more, most of which also made
        its way into the dissertation, but a lot of which didn't.  Math is a
        pleasure!
      </li>
      <li>
        <a href="{{ url_for('get_resource', resource='sampling-latitudes.pdf') }}">This</a>
        is a short write-up intended for a high school audience, specifically
        to provide and explain a method of "unbiased" random sampling of latitude and
        longitude.  The purpose behind this was to provide a tool
        for a "Maymester" (very short term) course in which students
        have the sole project of researching a very focused locale
        chosen with random coordinates fed into Google Maps&mdash;a tool
        which would insure that students aren't disproportionately
        researching polar regions at the expense of equatorial ones!  I haven't
        ever implemented this course.
      </li>
      <li>
        <a href="{{ url_for('get_resource', resource='Kinetic-Energy.pdf') }}">Here is an explanation of the formula for kinetic energy</a> that
        I just desired.  So, I wrote it down.
        <!-- The "classics" are
        a pleasure and classical physics is a pleasure that
        I have not been able to fully contemplate or enjoy
        as of yet.  I like its "explanatory power".  I like
        proofs like that---that (in my feeling) get to the root
        of the origins of a formula or definition and help to involve
        the reader in them.  I'd like to see or, if necessary, write down more
        of these "classics".  To contrast, I wager that if you Google search
        for "kinetic energy", you won't find something like I have printed here.
        Now, this is a big boast, because I could easily try this out myself
        to see if I am right, but I haven't.  I'll let you do the trial.  My
        feeling is that science and math instruction is very much lacking
        "explanatory power" as a rule.  Now, I am using that phrase
        "explanatory power" in a somewhat private way.  I mean that it is lacking
        in the spirit of generosity, among perhaps other things. -->
        I have other little "ditties" like that&mdash;and I'd love to see those of
        others of a similar spirit.
      </li>
      <li>
        <a href="{{ url_for('get_resource', resource='Gauss_thm.pdf') }}">This item</a>
          is less coherent and successful.
        It is an "alternative" proof of Gauss' Theorem that I see as fitting
        into some (notional) project of reorganizing
        the presentation of linear algebra and multivariable calculus.
      </li>
    </ol>
