<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ site_name }} - {{ title }}</title>
    {% else %}
    <title>{{ site_name }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      }
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <div class="row">
    <header>
      <div class="header">
        <span id="site_name">{{ site_name }}</span><br>
      </div>
    </header>
    <nav>
      <div class="nav">
        <ul>
          <li><a href="{{ url_for('entrance') }}">Lobby</a></li>
          <li><a href="{{ url_for('library') }}">Library</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <hr>

  <body>
    <div class="row">
      {% block menu %}
      {% endblock %}
      <!-- <div class="col-25 menu">
        <ul>
        {% for group in toc %}
          {% set outer_loop = loop %}
          {% if group.view_name %}
            {% set url = url_for(group.view_name) %}
          {% else %}
            {% set url = '#' %}
          {% endif %}
          {% if group is not none %}
          <li><a href={{ url }}>{{ group.display_name }}</a>
          {% endif %}
          {% if 'subdivisions' in group.__dict__ %}
            {% set subgroup = group.subdivisions %}
            <ul>
            {% for item in subgroup %}
              {% if item.view_name %}
                {% if item.category == 'chapter' %}
                  {% set url = url_for('book_chapter', book_name='Algebra2', chapter_number=loop.index) %}
                {% endif %}
                {% if item.category == 'section' %}
                  {% set url = url_for('book_section', book_name=book_name,
                          chapter_number=outer_loop.index, section_number=loop.index) %}
                {% endif %}
              {% else %}
                {% set url = '#' %}
              {% endif %}
              <li><a href={{ url }}>{{ item.display_name }}</a>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div> -->


      <div class="col-75">
      <iframe src="{{ src }}" width="100%" height="475" name="iframe_content"></iframe>
      </div>
    </div>
  </body>
</html>
