{% extends "base.html" %}



{% block menu %}
      <div class="col-25 menu" id="table_of_contents">
        <ul>
            <li><a>Front Matter</a>
            <div>
            {% set front = book.subdivisions.get('front') %}
            {% if front.subdivisions %}
              <ul>
                {% for section in front.subdivisions %}
                  {% if section.view_name %}
                    {% set url = url_for('book_chapter', book_name=book_name, chapter_number=section.name_for_path) %}
                  {% else %}
                    {% set url = '#' %}
                  {% endif %}
                  <li><a href={{ url }}>{{ section.display_name }}</a>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            </li>
            <li><a>Main Matter</a>
            <div>
            {% set main = book.subdivisions.get('main') %}
            {% if main.subdivisions %}
              <ul>
                {% for chapter in main.subdivisions %}
                  {% set outer_loop = loop %}
                  {% if chapter.view_name %}
                    {% set url = url_for('book_chapter', book_name=book_name, chapter_number=loop.index) %}
                  {% else %}
                    {% set url = '#' %}
                  {% endif %}
                  <li><button type="button" class="collapsible">{{ loop.index }}: {{ chapter.display_name }}</button>
                  <div class="inner">
                  {% if chapter.subdivisions %}
                    <ul>
                      <li><a href={{ url }}>Introduction</a>
                      {% for section in chapter.subdivisions %}
                        {% if section.view_name %}
                          {% set url = url_for('book_section',
                            book_name=book_name, chapter_number=outer_loop.index,
                            section_number=loop.index) %}
                        {% else %}
                          {% set url = '#' %}
                        {% endif %}
                        {% if section.challenge %}
                          <li><a href={{ url }}>{{ outer_loop.index }}.{{ loop.index }}: (Challenge) {{ section.display_name }}</a></li>
                        {% else %}
                          <li><a href={{ url }}>{{ outer_loop.index }}.{{ loop.index }}: {{ section.display_name }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
            </div>
            </li>
            <li><a>End Matter</a>
            <div class="inner">
            {% set end = book.subdivisions.get('end') %}
            {% if end.subdivisions %}
              <ul>
                {% for section in end.subdivisions %}
                  {% if section.view_name %}
                    {% set url = url_for('book_chapter', book_name=book_name, chapter_number=section.name_for_path) %}
                  {% else %}
                    {% set url = '#' %}
                  {% endif %}
                  <li><a href={{ url }}>{{ section.display_name }}</a>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            </li>
        </ul>


        <script type="text/javascript" src={{ url_for('static', filename='scripts/collapsible.js') }}></script>



          <!-- <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block"
                }
              });
            }
          </script> -->


      </div>



{% endblock %}
