{% extends "exercise_page.html" %}


{% block content %}


<h2>Exercise</h2>
{% if form %}
<p>
  {{ question.prompt_single|safe }}
</p>
<p>
  {% if question.given_latex_display %}
  {{ question.given_latex_display }}
  {% else %}
  {{ question.format_given|safe }}
  {% endif %}
</p>
{% if question.further_instruction %}
<p style="clear:right">
  <div class="special_instruction" style="border:1px solid cyan; border-radius: 25px; padding-left: 25px; padding-right: 25px; padding-bottom: 25px">
    <h5>Special Syntax Instructions:</h5>
    {{ question.further_instruction|safe }}
  </div>
  <br>
{% endif %}


{% if whether_graph %}
{% include "_tester6.html" %}
  <!-- <div style="width: 50%; float: left; border: 1px solid red;">
    <p>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
      </form>
    </p>
  </div> -->
{% elif question.prob_type == 'real_line_graph' %}
{% include "_real-line.html" %}
<div style="width: 50%; float: left; border: 1px solid red; clear:left">
  <p>
    <form action="?form=form" method="post">
      {{ form.hidden_tag() }}
      <table>
        <tr><td>{{ form.submit() }}</td><!--<td><button>Preview</button></td>--></tr>
      </table>
    </form>
  </p>
</div>
{% else %}
  <!-- <div class="row"> -->
    <div style="width: 50%; float: left; border: 1px solid red;">
      <p>
        <form action="?form=form" method="post">
          {{ form.hidden_tag() }}
          {{ form.answer.label }}<br>
          {{ form.answer(size=32) }}<br>
          {% for error in form.answer.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <table>
            <tr>
              <td>{{ form.submit() }}</td>
              <!-- <td><button id='previewBtn'>Preview</button></td> -->
            </tr>
          </table>
        </form>
        <!-- <button id='previewBtn' style="float: left;" onclick="window.location.href='https://w3docs.com';">Preview</button> -->
        <form action="?form=preview_form" method="post">
        <!-- <input class="button" href="#" onClick="MyWindow=window.open('{{ url_for('answer_previewer', question_name=question.module_name, user_answer='hello') }}','MyWindow','width=600,height=300'); return false;">Click to Preview</input> -->
        <div class="tooltip">
          <input type="button" onClick="MyWindow=window.open('{{ url_for('answer_previewer', question_name=question.module_name) }}'.concat('?user_answer=',encodeURIComponent(document.getElementById('useranswer').value)),'MyWindow','width=600,height=300'); return false;" value="Preview" />
          <span class="tooltiptext">Click to see how the answer checker will process your response</span>
        </div>
        </form>
      </p>
    </div>

    <div style="width: 50%; float: left; border: 1px solid red; display: none"> <!-- Add display:none to turn off -->
      <p id="format_user_answer"></p>
      <script>
        document.getElementById('useranswer').addEventListener("keyup", show_answer);

        var input_field = document.getElementById('useranswer');
        // {% set input_field = form.answer %}

        function show_answer(){
        document.getElementById("format_user_answer").innerHTML = input_field.value;
        }

      </script>
    </div>
  <!-- </div> -->
{% endif %}
{% endif %}

{% if request.method == 'POST' and form.validate_on_submit() and (not whether_graph) %}
{% if correct %}
{% set class = 'correct' %}
{% else %}
{% set class = 'incorrect' %}
{% endif %}
<div class="{{ class }}" style="padding:5px;
            margin-left:50%;"
            >
  <p>
    {{ message|safe }}
  </p>
</div>


{% if not question.prob_type == 'real_line_graph' %}
<div style="width: 100%; float: left;  border: 1px solid red; clear: left">
<table style="border: 1px solid cyan; width: 100%;">
  <tr>
    <td style="width: 50%">
      You answered:  {{ question.format_useranswer(form.answer.data, display=False) }}
    </td>
    <td style="width: 50%">
      The correct answer is: {{ question.format_answer }}
    </td>
  </tr>
</table>
</div>
{% endif %}


{% else %}
{% endif %}

{% if not question.prob_type == 'real_line_graph' %}
<div style="float:left; width: 100%">
  <a id="myBtn" style="cursor: pointer">Click for help with syntax</a>
</div>


<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Syntax Help</h3>
    <p>
      The answer field on this page has a
      <a target="_blank" href="https://en.wikipedia.org/wiki/Computer_algebra_system">
        "CAS" (Computer Algebra System)</a>
      behind it called
      <a target="_blank" href="https://www.sympy.org/en/index.html">SymPy</a>,
      which is a package available in the
      programming language Python.  That means that it can do calculations
      for you---but also so much more!  Really, what its being a "CAS" means is
      that it understands a lot about functions and about variables.
    </p>

    <p>
      For starters, you can enter variables, like '\(x\)'.  (All you have
      to do is type 'x'---without the quotes!---of course.)  But, be warned, I
      have chosen to leave it case-sensitive, which means that if you write a
      capital '\(X\)' instead of a lower case, you will get the answer wrong!
      Sorry, but that was my choice, and I hope you don't mind too much.
    </p>

    <p>
      As for your basic arithmetic, the answer field knows what '+' and '-'
      mean.  For times, though, since 'x' will always be understood as a
      variable, you might want to use '*'.  For instance, if you type
      '5*6', Sympy will calculate this for you.  (You don't need to simplify
      arithmetic.  Isn't that nice?)  However, if you wanted to type something
      like "3 times x", then you would just type '3x'.  After all, that's
      what '3x' means, no?
    </p>

    <p>
      Here are some further details as well as a little recap:
      <table class="syntax-table">
        <tr>
          <th>Entering this...</th><th>...gets interpreted as this!</th>
        </tr>
        <tr>
          <td>2+2</td><td>4</td>
        </tr>
        <tr>
          <td>x+2</td><td>\(x+2\)</td>
        </tr>
        <tr>
          <td>2*3</td><td>6</td>
        </tr>
        <tr>
          <td>2x</td><td>\(2x\)</td>
        </tr>
        <tr>
          <td>2*x</td><td>\(2x\)</td>
        </tr>
        <tr>
          <td>1/2</td><td>\(\frac{1}{2}\)</td>
        </tr>
        <tr>
          <td>1/2x</td><td>\(\frac{x}{2}\)</td>
        </tr>
        <tr>
          <td>8/2</td><td>\(4\)</td>
        </tr>
        <tr>
          <td>x < 4</td><td>\(x \lt 4\)</td>
        </tr>
        <tr>
          <td>x <= 4</td><td>\(x \leq 4 \)</td>
        </tr>
        <tr>
          <td>2^3</td><td>\(2^3 = 8\)</td>
        </tr>
        <tr>
          <td>x^2</td><td>\(x^2\)</td>
        </tr>
        <tr>
          <td>3*4x^2y</td><td>\(12x^2y\)</td>
        </tr>
        <tr>
          <td>3*4yx^2</td><td>\(12x^2y\)</td>
        </tr>
        <tr>
          <td>(x-1)(x+3)</td><td>\((x-1)(x+3)\)</td>
        </tr>
        <tr>
          <td>(x-1)(x-1)</td><td>\((x-1)^2\)</td>
        </tr>
        <tr>
          <td>hello</td><td>\(ehl^2o\)</td>
        </tr>
        <tr>
          <td>sqrt(2)</td><td>\(\sqrt{2}\)</td>
        </tr>
        <tr>
          <td>sqrt(x+1)</td><td>\(\sqrt{x+1}\)</td>
        </tr>
        <tr>
          <td>pi</td><td>\(\pi\)</td>
        </tr>
        <tr>
          <td>sin(pi)</td><td>\(-1\)</td>
        </tr>
        <tr>
          <td>sin(pi x)</td><td>\(\sin(\pi x)\)</td>
        </tr>
        <tr>
          <td>And so much more!</td><td>&larr; Well, entering that will result in an error.  Try it!</td>
        </tr>
      </table>
    </p>
  </div>

</div>
{% endif %}


{% if request.method == 'POST' and form.validate_on_submit() and (not (whether_graph and points == []))%}
<div class="exercise" style="float: left; width: 100%">
  <table>
    <tr>
      <td style="padding-right: 45vw"><a href="{{ url_for('question', question_name=question_name, new=True) }}">Get New Problem</a></td>
      <!-- <td style="float: right"><a>Report Bug</a></td> -->
    </tr>
  </table>
</div>
{% endif %}


  <!-- <p>
    {% if tried == True %}
    I already tried this problem!
    {% else %}
    I've never tried this problem!
    {% endif %}
  </p> -->

{% if current_user.is_authenticated %}
<div class="padding-40">
    Your score:
  <div class="progress_container">
    {% if grade_info.grade or grade_info.grade == 0 %}
    <div id="progress_bar" style="width: {{ grade_info.grade*25 }}%; font-family: sans-serif">
    {{ grade_info.grade }}
    </div>
    {% endif %}
  </div>
  <p>
    If you just want to practice the problems, then log-out.
  </p>
</div>
{% else %}
  <div style="color:red">
    If you want credit, you should log-in.
  </div>
{% endif %}


<!-- <p>
  <form action="?form=bug_form" method="post">
    {{ bug_form.hidden_tag() }}
    <p>{{ bug_form.submit() }}</p>
  </form>
</p> -->

{% if question.loom_link %}
<p>
  <a href="{{ question.loom_link }}" target="blank">Click for a video demonstrating some problems.</a>
</p>
{% endif %}





<!-- <p id="submit_feedback"><p>

<script>
var submitter = document.getElementById('submitter');
submitter.addEventListener('click', function(self) {
  submit_feedback.innerHTML = "Hello";
}, false);
</script> -->

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


{% endblock %}
