{% extends "user_page.html" %}

{% block content %}
<!-- <table class="user" style="margin-right:10%">
  <tr valign="top">
    <td><img src="{{ user.avatar(128) }}"></td>
    <td><h1>{{ user.username }}</h1>
        {% if user.about_me %}
        <p>{{ user.about_me }}</p>
        {% endif %}
        {% if user.last_seen %}
        <p>Last seen on: {{ user.last_seen }}</p>
        {%  endif %}
        {#<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following </p>#}
        {% if user == current_user %}
        <p><a>Edit your profile.</a></p>
      {#  {%  elif not current_user.is_following(user) %}
        <p>
          <form action="{{ url_for('follow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Follow') }}
          </form>
        </p>

        {% else %}
        <p>
          <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Unfollow') }}
          </form>
          #}
        {% endif %}
    </td>
    <td valign="bottom" >
      <a href="{{ url_for('library') }}">Back to the Library</a>
    </td>
    <td valign="bottom" >
      Add as Observer
    </td>
</table> -->

<div class="user">
  <span style="font-size:32"><b>{{ user.firstname or user.username }}</b></span>
  {% if current_user != user %}
    {% if not current_user.is_observed_by(user)%}
    <span style="float:right">
      <form action="{{ url_for('name_as_observer', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Name as Observer') }}
      </form>
    </span>
    {% endif %}
    {% if current_user.is_observing(user) %}
    <span style="float:right">
      <form action="{{ url_for('unobserve', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Un-observe') }}
      </form>
    </span>
    {% endif %}
  {% endif %}
  <ul>
    <li><a href="{{ url_for('library') }}">Library</a></li>
    {% if current_user == user %}
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% endif %}
  </ul>
</div>
<hr style="color: var(--section-header-color);">


{% if (user == current_user) or current_user.is_observing(user) %}
  {% set pupil = user %}
  {% include "_gradebook3.html" %}

  <hr style="color: var(--section-header-color);">
{% endif %}

{% if (current_user == user) %}
<div>
  {% if observed %}
    <h2>Observed Grades</h2>
    {% for pupil in observed %}
      {# set grades = pupil.user_grade_info() #}
      {# set user_books = grades.get_books() #}
      <p><a href="{{ url_for('user', username=pupil.username) }}">{{pupil.lastname}}, {{ pupil.firstname }}</a></p>
      <!-- {# include "_gradebook3.html" #} -->
      <!-- {% for book in user_books %}
        <p>{{ book.display_name }}</p>
      {% endfor %} -->
    {% endfor %}
  {% endif %}
</div>
{% endif %}

<script>
  function show_hide() {
    var x = document.getElementById("next");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  var i;
  var buttons = document.getElementsByClassName("show_hide_button");
  var button, x;
  for (i=0; i<buttons.length; i++) {
    button = buttons[i];
    button.addEventListener("click", function(self) {
        // console.log('self is', self);
        x = self.target.nextElementSibling;
        // console.log('x is', x);
        if (x.style.display === "none") {
          x.style.display = "block";
          self.target.innerHTML = "Hide Grades";
        } else {
          x.style.display = "none";
          self.target.innerHTML = "Show Grades";
        }
      }
    )
  }
</script>
<!-- <script>
  document.write(moment("2012-12-31T23:55:13Z").format("M/DD hh:mm A"));
</script> -->
{% endblock %}
